.ant-modal-content {
    border-radius: 5px !important;
    

    .icon {
        margin-bottom: 20px !important;
    }

    .danger {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color        : $danger !important;
            margin-bottom: 20px !important;
        }
    }
}
.vimeo .ant-modal-content{
    border: 3px solid #CBC3E3 !important;
}

.ant-modal-header {
    padding      : 16px 24px;
    color        : rgba(0, 0, 0, 0.85);
    background   : $white;
    border-bottom: none !important;
    border-radius: 5px 5px 0 0 !important;
}

.ant-modal-footer {
    padding      : 10px 16px;
    text-align   : left !important;
    background   : transparent;
    border-top   : none !important;
    border-radius: 0 0 2px 2px !important;
}

.important-info-modal{

.important-info-content{
    ol{
      li{
        list-style-type: decimal;
        padding-left: 5px;
      }
    }
  }

  .ant-modal-footer{
    button{
        border: 1px solid;
    }
    button:nth-child(2){
        margin-left: 20px;
    }
  }
}

@media (min-width: 576px){
    .important-info-modal{
        .ant-modal-content{
            padding: 0 40px;
        }
    }

   
}