.ant-modal-content {
    border-radius: 5px !important;
    

    .icon {
        margin-bottom: 20px !important;
    }

    .danger {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color        : $danger !important;
            margin-bottom: 20px !important;
        }
    }
}
.vimeo .ant-modal-content{
    border: 3px solid #CBC3E3 !important;
}

.ant-modal-header {
    padding      : 16px 24px;
    color        : rgba(0, 0, 0, 0.85);
    background   : $white;
    border-bottom: none !important;
    border-radius: 5px 5px 0 0 !important;
}

.ant-modal-footer {
    padding      : 10px 16px;
    text-align   : left !important;
    background   : transparent;
    border-top   : none !important;
    border-radius: 0 0 2px 2px !important;
}

.important-info-modal{

.important-info-content{
    ol{
      li{
        list-style-type: decimal;
        padding-left: 5px;
      }
    }
  }

  .ant-modal-footer{
    button{
        border: 1px solid;
    }
    button:nth-child(2){
        margin-left: 20px;
    }
  }
}

.linkedin-login-modal {

    .linkedin-modal-content {
        width: "100%";
    }

    .modal-head {
        text-align: left;
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        color: #001622
    }

    .modal-description {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #54616C;
    }

    .loginWrapper {
        margin-top: 5% !important;
        margin-bottom: 2% !important;
    }

    .modal-linkedin-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 52px !important;
        background-color: #0074D9 !important;
        border-radius: 2px !important;
    }

    .footer-section {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        color: #54616C;

        a {
            color: #1E96FF;
            border-bottom: 1px solid #1E96FF;
        }
    }

    .ant-modal-close {
        top: 10px;
        right: 10px;
    }
}

@media (min-width: 576px){
    .important-info-modal{
        .ant-modal-content{
            padding: 0 40px;
        }
    }

   
}

@media (max-width: 575px) {
    .linkedin-login-modal {
        .ant-modal-content {
            background-color: #ffffff !important;
        }
        
        .ant-modal-close-x {
            display: block !important;
        }
    }
}    