// Backup Capacity Calculator

.backupCapacityCalculator {
  padding: 3rem 0;

  .capacityConatiner {
    display: flex;
    justify-content: start;
  }
  .dataChangeDiv {
    margin-left: 192px;
  }
  .capacityInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .capacityInputTitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.24px;
    color: #272727;
    margin: 10px 0px;
  }
  .capacityInput {
    border: 1px solid $grey;
    font-weight: 600;
    font-size: 15px;
    height: 35px;
    border-radius: 4px;
    width: 90px;
    text-align: left;
    padding-left: 5px;
    margin-left: 20px;
  }
  .ratioInput {
    width: 72px;
    // margin-left: 0px;
    text-align: right;
    padding-right: 5px;
  }
  .custom-btn {
    text-transform: uppercase;
  }
  .capacityCalculateBtn {
    font-weight: 400;
    margin: 20px 0px;
    padding: 10px 30px 10px 30px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
  }
  .capacityCalculateBtn:hover,
  .capacityCalculateBtn:focus {
    background-color: #333;
    color: #fff;
  }
  .leftHeadings {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.45px;
    color: #272727;
    margin-bottom: 25px;
    margin-top: 40px;
  }
  .heading {
    text-transform: capitalize;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #272727;
    margin: 0;
    margin-bottom: 50px;
  }

  table {
    width: 100%;
  }
  td {
    width: 20%;
    text-align: left;
  }
  td,
  th {
    border: 1px solid lightgrey;
    text-align: left;
    padding: 10px;
  }
  th span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.24px;
    color: #272727;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  .spanContainer {
    display: flex;
    line-height: 35px;
    font-weight: 600;
    font-size: 15px;
  }
  .spanRatio {
    padding: 0px 3.5px;
  }
}

@media (max-width: 480px) {
  .backupCapacityCalculator {
    .capacityConatiner {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .capacityCalculateBtn {
      padding: 5px 25px 5px 25px;
    }
    .leftHeadings {
      font-size: 14px;
    }
    .capacityInputTitle {
      font-size: 15px;
    }
    .tableOne,
    .tableTwo,
    .tableThree {
      overflow-x: scroll !important;
      scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    .dataChangeDiv {
      margin-left: unset !important;
    }
  }
}
