.card-review {
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.like-review {
  color: #075aee;
}
.blog-detail-section {
  .blog-breadcrumb {
    margin-top: 50px;
    margin-bottom: -58px;
  }
  .blog-detail {
    margin-top: -16px;
  }
  .comment-message-text {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    color: #262626;
  }
  .blog-detail-heading-container {
    padding: 100px 0px;
    h4 {
      text-align: center;
      width: 956px;
      margin: 0px auto;
    }
  }
  .sub-heading {
    color: $textColor;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    width: 635px;
    margin: 0px auto;
  }
  .blog-section {
    color: #00192f;
    display: flex;
    gap: 1rem;
    .blog-list {
      width: 33.33%;
      .blog-card {
        img {
          border-radius: 6px;
          width: 350px;
          height: 210px;
        }
        .category {
          border-radius: 4px;
          border: 1px solid $backgroundColor;
          color: $backgroundColor;
          padding: 4px 6px;
          width: fit-content;

          margin: 1rem 0;
          &.bg {
            background-color: rgba($backgroundColor, 0.2);
          }
        }

        .blog-heading {
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 2rem;
        }

        .blog-detail {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-top: -16px;
        }

        .date-section {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: #54616c;
          margin-top: 1rem;
          font-size: 12px;
          position: relative;
          .date {
            line-height: 18px;
            font-weight: 400;
            padding: 0 5px;
          }

          .time {
            padding: 0 5px;
            // border-left: 1.5px solid #54616c;
          }
        }
      }
    }

    .view-more-icon {
      position: absolute;
      border: 2px solid #ffffff;
      right: 105px;
      margin-top: 14%;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $viewMoreIcon;
      cursor: pointer;
      .anticon-arrow-right {
        font-size: 1rem;
        font-weight: bolder;
        color: #ffffff;
      }
    }
  }
  .home-blog {
    color: $textColor;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
  }
  .blog-detail-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
    .second-div {
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 10px;
      margin-left: 20px;
      width: 65%;
    }
  }

  .blog-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    .admin-text {
      //   color: $backgroundColor;
      color: $backgroundColor;
      font-weight: 400;
      font-size: 14px;
    }
    .profile-icons {
      object-fit: contain;
      margin: 0px 10px 0px 20px;
    }
    .profile-icons:first-child {
      object-fit: contain;
      margin: 0px 10px 0px 0px;
    }
    .blog-card {
      border-radius: 10px;
      width: 100%;
    }
    .inner-text-container {
      padding: 40px 0;
    }
    .blogs-card-body {
      font-family: "Inter";
      // line-height: 26px;
      min-height: 50px;
      // opacity: 0.8;
      padding: 0px;
      color: #00192f;

      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
    .card-heading {
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid $themeSecondary;
      background-color: rgba($themeSecondary, 0.2);
      color: $themeSecondary;
      padding: 4px 6px;
      margin: 1rem 0;
      width: 203px;
      margin-top: 2px;
      border-radius: 4px;
    }
    .card-detail-body {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      opacity: 0.8;
      padding: 0px;
      color: $textBlack;
    }
    .read-more {
      font-weight: 600;
      font-size: 16px;
      color: $textBlack;
    }
    .recent-header-text {
      font-size: 14px;
      font-weight: 600;
    }
    .recent-body-text {
      font-size: 14px;
      font-weight: 400;
    }
    .div-one {
      padding: 15px;
      width: 40%;
      background-color: #ffffff;
      border-radius: 10px;
    }
    .recent-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    .second-div {
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 10px;
      width: 100%;
    }
    .card {
      padding: unset;
    }
    .search-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      line-height: 50px;
      border: 1px solid $textBlack;
      border-radius: 20px;
      padding: 3px 5px;
      margin: 20px 0px;
      p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
        color: $textBlack;
        margin: 0px;
        padding: 0px;
      }
    }
    .tags {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: center;
      border: 1px solid #000;
      border-radius: 100px;
      padding: 7px 16px 7px 16px;
      white-space: pre-line;
    }
    .ant-tag-checkable-checked {
      background-color: $backgroundColor;
      color: $textColor;
    }
    .ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
      color: unset;
    }
    ul {
      margin-left: -15px;
      li {
        font-family: "Montserrat";
        // list-style-type: disc;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        opacity: 0.8;
        color: $textBlack;
        margin-top: 10px;
      }
      .CircleBulletIcon {
        margin: -5px 10px 0px 15px;
      }
    }
  }

  .social-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 2em;
    width: 100%;
    border-radius: 8px;
    background-color: #f2f4f7;
    font-size: 1.125em;
    line-height: 1.75rem;
    font-weight: 500;
    font-family: "Inter", serif;
    color: $themeSecondary;

    .share-btn,
    .save-btn {
      display: flex;
      align-items: center;
      column-gap: 5px;
      cursor: pointer;
    }
  }
  .social-link button {
    margin: 0px 10px;
  }
  .social-link button:first-child {
    margin-left: 0px;
  }
  .prev-next-footer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .arrow-container {
      display: flex;
      align-items: center;
      p {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0em;
        margin-top: 8px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .col {
    width: 100%;
  }
  .rounded-circle {
    width: 10% !important;
  }
  .related-blog {
    margin-top: 10% !important;
    margin-bottom: 0px;
  }
  .blog-detail-section {
    width: 100%;
    .page-banner {
      .banner-bg {
        .banner-container {
          .home-blog,
          .sub-heading {
            width: 100%;
          }

          .banner-title-container {
            padding: 1rem 0;
          }
          h4 {
            width: 100%;
            margin: 0;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            letter-spacing: -0.5px;
          }
        }
      }

      // .container {
      //   display: none;
      // }
    }

    .blog-container {
      margin: 0;
      margin-top: 10%;
      .div-one {
        display: none;
      }

      .second-div {
        margin-left: 0;

        .blog-card {
          img {
            object-fit: fill !important;
            width: 100%;
            height: auto;
          }

          .inner-text-container {
            padding: 2.5rem 1rem;

            .social-link {
              button {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        .prev-next-footer {
          display: none;
        }
      }
    }
  }
}
