.ant-pagination-item-active {
  background: #000 !important;
  color: white;
  border: #000 !important;
}
.blog-card {
  img {
    border-radius: 6px;
    transition: transform 0.5s ease;
  }
  .ant-image {
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transition: transform 0.5s ease;
  }
  .category {
    border-radius: 4px;
    border: 1px solid $backgroundColor;
    color: $backgroundColor;
    padding: 4px 6px;
    width: fit-content;
    margin: 1rem 0;
    &.bg {
      background-color: rgba($backgroundColor, 0.2);
    }
  }

  .blog-heading {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .blog-detail {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .date-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #54616c;
    margin-top: 1rem;
    font-size: 12px;
    position: relative;
    .date {
      line-height: 18px;
      font-weight: 400;
      padding: 0 5px;
    }

    .time {
      padding: 0 5px;
      // border-left: 1.5px solid #54616c;
    }
  }
}
.blogs-section {
  // background-color: $bodyBackgroundColor;
  background-color: #ffffff;
  margin-top: -4px;
  display: flex;
  .page-banner {
    .banner-bg {
      height: 386px;
    }
  }
  .blog-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-direction: column;
    .tags {
      width: 100%;
      white-space: pre-line;
    }

    .category {
      border-radius: 4px;
      border: 1px solid $themeSecondary;
      color: $themeSecondary;
      padding: 4px 6px;
      width: fit-content;
      margin: 1rem 0;
      &.bg {
        background-color: rgba($themeSecondary, 0.2);
      }
    }

    .blog-heading {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    .blog-detail {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      padding: 0;
      margin-top: -7px;

      margin-bottom: 0.5rem;
    }
    .admin-text {
      // color: $backgroundColor;
      color: #54616c;
      font: "12px";
      font-weight: 300;
      font-size: 12px;
    }
    .profile-icons {
      object-fit: contain;
      margin: 0px 10px 0px 20px;
    }
    .blog-section {
      color: #00192f;
      // display: flex;
      gap: 1rem;
    }
    .profile-icons:first-child {
      object-fit: contain;
      margin: 0px 10px 0px 0px;
    }

    .blog-card {
      border-radius: 10px;
      width: 100%;
      height: 480px;
      border: 0;
      // height: 547px;
    }
    .blog-list {
      display: flex;
    }

    .blog-card img {
      border-radius: 6px;
    }

    // .second-div p {
    //   margin: 0;
    //   padding: 0;
    // }
    .ant-card-hoverable:hover {
      border-color: transparent;
      box-shadow: none !important;
    }
    .card-heading {
      font-weight: 500;
      //  font-size: 16px;
      line-height: 20px;
      // color: $textBlack;
      text-transform: uppercase;
      // width: max-content;
      // color: #0074d9;
      // padding: 8px 10px;
      // border: 1px solid #005dd4;
      // border-radius: 5px;
      background-color: #e8f3fd;
      border-radius: 4px;
      border: 1px solid #075aee;
      color: #075aee;
      padding: 4px 6px;
      width: -moz-fit-content;
      width: fit-content;
      margin: 1rem 0;
    }
    .ant-card-body {
      padding: 24px;
      padding-left: 0;
    }
    .blogs-card-body {
      font-family: "Inter";
      // line-height: 26px;
      min-height: 50px;
      // opacity: 0.8;
      padding: 0px;
      color: #00192f;

      font-weight: 500;
      font-size: 1.25rem;
      line-height: 2rem;
    }
    .read-more {
      position: absolute;
      bottom: 20px;
      font-weight: 600;
      font-size: 16px;
      color: $textBlack;
    }
    .recent-header-text {
      font-size: 14px;
      font-weight: 600;
    }
    .recent-body-text {
      font-size: 14px;
      font-weight: 400;
    }
    .div-one {
      padding: 15px;
      width: 30%;
      background-color: #ffffff;
      border-radius: 10px;
    }
    .recent-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    .second-div {
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 10px;
      width: 100%;
      align-content: baseline;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .search-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      line-height: 50px;
      border: 1px solid $textBlack;
      border-radius: 20px;
      padding: 3px 5px;
      margin: 20px 0px;
      p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
        color: $textBlack;
        margin: 0px;
        padding: 0px;
      }
    }
    .tags {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: center;
      border: 1px solid #000;
      border-radius: 100px;
      padding: 7px 16px 7px 16px;
      margin: 0px 10px;
    }
    .ant-tag-checkable-checked {
      background-color: $backgroundColor;
      color: $textColor;
    }
    .ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
      color: unset;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    margin: 0 auto;
  }
  .other-page {
    background: #f2f4f7;
    color: #000;
    width: 2rem;
    text-align: center;
    padding: 6px 8px;
    border-radius: 4px;
    margin: 0 5px;
    width: calc(2rem + 8px);
  }
  .selected-page {
    background: $backgroundColor;
    color: #fff;
    width: 2rem;
    text-align: center;
    padding: 6px 8px;
    border-radius: 4px;
    width: calc(2rem + 8px);
  }
}

.latest-blog {
  p {
    padding: 0;
    margin: 0;
  }
  margin: 4rem 0 1rem 0;
  .title-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .title {
      color: #54616c;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
      &.bg {
        color: $viewMoreIcon;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .view-more {
      color: $viewMoreIcon;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .blog-section {
    .slick-slider .slick-list .slick-track {
      gap: 1rem;
      display: flex;
    }
    .slick-slider {
      .slick-next {
        right: 10px !important;
      }
      .slick-prev {
        left: -5px !important;
        z-index: 1;
      }
      .slick-next::before {
        color: #0074d9;
        font-size: 35px;
        opacity: 1 !important;
      }
      .slick-prev::before {
        color: #0074d9;
        opacity: 1 !important;
        font-size: 35px;
      }
      .slick-dots {
        margin-top: 1rem;
        bottom: -3rem;
      }

      .slick-dots li button:before {
        color: #0074d9;
        font-size: 12px;
        margin-top: -3px;
        opacity: 1;
        &.slick-active {
          content: "";
        }
      }

      .slick-dots li.slick-active {
        width: 2rem;
        height: 0.75rem;
        border-radius: 1000px;
        background-color: #0074d9;
      }
    }
    color: #00192f;
    .blog-list,
    .showHoverClass {
      width: 33.33%;
      .blog-card {
        height: 100%;
        img {
          border-radius: 6px;
          width: 100%;
          height: 210px;
          transition: transform 0.5s ease;
        }
        .ant-image {
          overflow: hidden;
          border-radius: 6px;
          width: 100%;
        }
        .category {
          border-radius: 4px;
          border: 1px solid $viewMoreIcon;
          color: $viewMoreIcon;
          padding: 4px 6px;
          width: fit-content;
          margin: 1rem 0;
          &.bg {
            background-color: rgba($viewMoreIcon, 0.2);
          }
        }

        .blog-heading {
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 2rem;
        }

        .blog-detail {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }

        .date-section {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: #54616c;
          margin-top: 1rem;
          font-size: 12px;
          position: relative;
          .date {
            line-height: 18px;
            font-weight: 400;
            padding: 0 5px;
          }

          .time {
            padding: 0 5px;
            // border-left: 1.5px solid #54616c;
          }
        }
      }
    }

    .view-more-icon {
      position: absolute;
      border: 2px solid #ffffff;
      right: 105px;
      margin-top: 14%;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $viewMoreIcon;
      cursor: pointer;
      .anticon-arrow-right {
        font-size: 1rem;
        font-weight: bolder;
        color: #ffffff;
      }
    }
  }
  :hover {
    .showHoverClass img {
      transform: scale(1.15);
    }
  }
}

@media only screen and (max-width: 600px) {
  .blog-section .slick-slider .slick-list .slick-track {
    gap: 0rem !important;
    display: flex !important;
  }
  .view-more-icon {
    display: none !important;
  }
}

@media (max-width: 575px) {
  PageBanner .main-content.blogs {
    margin-left: 20px;
    min-height: 100vh;
    padding-bottom: 190px !important;
    margin-top: 60px;
  }

  .blogs-section {
    .testSearchInput {
      width: auto;
    }
    .banner-bg {
      height: 220px !important;
    }
    .page-banner .banner-bg .banner-container {
      padding: 2rem 0;

      .banner-image-container {
        display: none;
      }
    }

    .blog-container {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;

      .div-one {
        width: 100%;
      }
      .second-div {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        .blog-card {
          width: 100%;
          height: auto;
          .ant-card-cover {
            img {
              height: 150px;
            }
          }
          .ant-card-body {
            p.card-heading {
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 4rem;
            }
            p.blogs-card-body {
              display: none;
            }

            .read-more {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

// For Scale 125% (Zoom Level)
@media (min-width: 1536px) and (max-width: 1920px) {
  .blog-section {
    .blog-list {
      .blog-card {
        img {
          width: 412px !important;
          height: 250px !important;
        }
        .latest-blog-list-img {
          width: 100% !important;
        }
      }
    }

    .view-more-icon {
      margin-top: 13% !important;
      right: 90px !important;
    }
  }
}
