.cloud-buil-vs-buy-calculator {
  .ant-divider-dashed {
    border-color: rgba(0, 0, 0, 0.3);
  }

  .ant-divider-horizontal {
    margin: 10px 0 20px;
  }
  .ant-select {
    min-width: 80px;
    .ant-select-selector {
      border-radius: 5px !important;
      border-color: rgba(0, 0, 0, 0.3) !important;
    }
  }

  .ant-slider-track {
    background-color: #000;
  }
  .ant-slider-handle {
    border-color: #000;
  }
}
.cloud-build-tooltip {
  max-width: 300px;
  .ant-tooltip-content {
    background-color: #d4e0fe;
    // margin-top: 1rem;
  }
  .ant-tooltip-arrow {
    display: none;
  }
  .ant-tooltip-inner {
    background-color: unset;
    color: #5e5e5e;
    border: 1px solid #5e5e5e;
  }
}

@media (min-width: 576px) {
  .cloud-buil-vs-buy-calculator {
    .row {
      padding: 15px 0;
      > div {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .slider {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .ant-slider {
        width: 77%;
      }

      .custom-tooltip {
        margin-left: 10px;
      }
    }

    .total-container {
      width: 75%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h4 {
        width: 75%;
        margin-top: 10px;
        font-size: 16px;
        color: #59595b;
      }

      .total {
        width: 180px;
        height: 50px;
        line-height: 50px;
        border-radius: 10px;
        background-color: #fff;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-left: 1rem;
      }
    }

    .slider-container {
      padding-left: 10px;
      padding-right: 10px;
    }

    table tr {
      :first-child {
        padding-left: 0;
      }
      :last-child {
        padding-right: 0;
      }
    }

    .private-cloud-table,
    .hosted-cloud-table {
      margin-top: 40px;
      table {
        width: 75%;

        tbody tr td:not(:first-child),
        thead tr th:not(:first-child) {
          text-align: center;
        }
        tbody tr td:first-child {
          width: 60%;
        }
      }
    }

    .hosted-cloud-table {
      margin-top: 60px;
    }
  }
}

@media (max-width: 575px) {
  .cloud-buil-vs-buy-calculator {
    .row {
      > div:not(:last-child) {
        padding-bottom: 1.5rem;
      }
      > div:last-child {
        padding-bottom: 0.5rem;
      }
    }
    .total-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h4 {
        margin-top: 10px;
        font-size: 16px;
        color: #59595b;
      }

      .total {
        height: 50px;
        line-height: 50px;
        border-radius: 10px;
        background-color: #fff;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
    }
    table tr {
      :first-child {
        padding-left: 0;
      }
      :last-child {
        padding-right: 0;
      }
    }

    table tbody tr,
    table thead tr {
      :not(:first-child) {
        text-align: center;
      }
    }

    .hosted-cloud-table {
      table {
        margin-bottom: 0;
      }
    }

    .hosted-cloud-table {
      margin-top: 40px;
    }
  }
}
