.community-listing-page {
  .banner-head {
    width: 35rem;

    .community-stats {
      // height: 70px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 2rem;

      .stat-container {
        width: 10rem;
        position: relative;
        h4 {
          font-family: "Poppins";
          font-size: 24px;
          font-weight: 500;
          color: #e0e0e0;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          font-family: "Inter";
          color: #b0b8bf;
        }
      }
      .stat-container:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 80%;
        width: 1px;
        background-color: #404040;
      }
    }
  }
  .container {
    // padding-right: 0 !important;
    .banner-container {
      height: 480px;
      padding-bottom: 0 !important;
      .banner-image-container span,
      .banner-image-container img {
        width: 558px !important;
        padding-bottom: 0 !important;
        height: 330px !important;
      }
    }
  }
}
.community-section {
  background-color: $bodyBackgroundColor;
  .community-container {
    margin-top: 100px;
    .content-container {
      display: flex;
      justify-content: space-between;
      div {
        width: 50%;
        margin: 20px 0;
      }

      iframe {
        border-radius: 10px;
      }
    }
    .heading {
      font-weight: 600;
      font-size: 48px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      color: $textBlack;
    }
    .welcometitle {
      text-align: "center";
      color: "white";
      margin-left: 500px;
    }
    .detailtitle {
      text-align: "center";
      color: "white";
      margin-left: 200px;
      margin-bottom: 200px;
    }
    .totalQueries {
      // margin-bottom:20px;
      // margin-right: 250px;
    }
    .h6class {
      padding-left: 590px;
      padding-bottom: 130px;
    }
    .searchCommunity {
      width: 780px;
      height: 50px;
      text-align: center;
      margin-left: -520px;
      margin-bottom: 100px;
      margin-top: 40px;
    }
    .leranmoreClass {
      margin-bottom: 80px;
    }
    .categoryListTitle {
      font-size: 30px;
      margin-top: 40px;
      text-align: center;
    }

    .browseProduct {
      margin-top: 60px;
      margin-left: 100px;
    }
    .icon {
      margin-left: 50px;
    }
    .browseProductName {
      color: #007bff;
      font-size: 16px;
      // margin-left: 40px;
      margin-top: 30px;
      // text-align: center;
    }

    .banner-container {
      // background-color: #a4bed4;
      margin-bottom: 3rem;
    }

    .thread-title {
      font-size: 23px;
      font-weight: bold;
      line-height: 28px;
      color: #0067b8;
    }
    .round-button {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      width: 120px; /* Set the width and height to make it round */
      height: 38px;
      background-color: #007bff; /* Set the background color */
      color: #ffffff; /* Set the text color */
      border: none; /* Remove border */
      outline: none; /* Remove outline */
      cursor: pointer; /* Add cursor pointer on hover */
      margin-top: -45px;
      float: right;
    }
    .round-button {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      width: 100px; /* Set the width and height to make it round */
      height: 30px;
      color: white; /* Set the text color */
      border: none; /* Remove border */
      outline: none; /* Remove outline */
      cursor: pointer; /* Add cursor pointer on hover */
      float: right;
    }
    .ant-tree-select {
      min-width: "50%";
    }
    .pagination li > a {
      opacity: 1.5;
    }
    .v3 .threadlist .lower-content .m-card-group .c-card .dates-line {
      font-size: 13px;
      color: #000;
      line-height: 24px;
    }
    .v3 .threadlist .lower-content .m-card-group .c-card .thread-summary {
      margin-bottom: 4px;
    }
    .double-line-text {
      overflow: hidden;
      position: relative;
      line-height: 24px;
      max-height: 48px;
      margin-right: -1em;
      padding-right: 1em;
      margin-top: 2px;
      font-size: 20px;
    }
    .threadlist-filter-options {
      margin-top: 12px;
    }
    .v3 .threadlist .lower-content #filterSection #filterByTypeControls {
      display: inline-block;
    }
    .c-label {
      margin-left: 60px;
    }
    .filterClass {
      font-weight: 600;
    }
    .c-button {
      width: 150px;
      height: 40px;
      background-color: #0067b8;
      color: white;
      margin-bottom: 15px;
      margin-left: 1500px;
    }
  }
}

.ant-upload.ant-upload-select-picture-card {
  height: 30px !important;
}
.accordion {
  border: 1px solid #ccc;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  outline: none;
}

.accordion-title.active {
  background-color: #ddd;
}

.accordion-content {
  padding: 10px;
}

.view-more-icon {
  position: relative;
  border: 2px solid #ffffff;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $viewMoreIcon;
  z-index: 1;
  cursor: pointer;
  .anticon-arrow-right {
    font-size: 1rem;
    font-weight: bolder;
    color: #ffffff;
  }
}
// top question style
.top-question {
  p {
    padding: 0;
    margin: 0;
  }
  margin: 4rem 0 1rem 0;
  .title-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;

    .title {
      color: #54616c;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
      &.bg {
        color: $viewMoreIcon;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .view-more {
      color: $viewMoreIcon;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .question-section {
    color: #00192f;
    display: flex;
    gap: 1rem;
    .question-list {
      width: 33.33%;
      .question-card {
        background-color: #f2f4f7;
        padding: 1rem;
        border-radius: 8px;
        height: 100%;
        .profile-section {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          .profile {
            position: relative;
            img {
              border-radius: 8px;
            }

            .badge {
              position: absolute;
              width: 20px;
              height: 20px;
              color: #ffffff;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              right: -7px;
              bottom: 0;
              border: 1px solid #ffffff;
              background-color: $backgroundColor;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
            }
          }
        }

        .name-section {
          margin-left: 1rem;
          .name {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 2rem;
            color: #001622;
          }

          .time {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #54616c;
          }
        }

        .question-heading {
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.5rem;
          color: #001622;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }

        .skill-section {
          display: flex;
          gap: 10px;
          margin-bottom: 2rem;

          .skill {
            border: 1px solid #d9dfe9;
            padding: 6px 12px;
            border-radius: 4px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            background-color: #ffffff;
          }
        }

        .button {
          position: relative;
          background-color: $backgroundColor;
          color: #ffffff;
          padding: 6px 16px;
          border-radius: 2px;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .view-more-icon {
      position: absolute;
      border: 2px solid #ffffff;
      right: 105px;
      margin-top: 8%;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $viewMoreIcon;
      cursor: pointer;
      .anticon-arrow-right {
        font-size: 1rem;
        font-weight: bolder;
        color: #ffffff;
      }
    }
  }
}

//
.ant-tree-select {
  .ant-select-selector {
    border: 1px solid #282828 !important;
    background-color: #1e1e1e !important;

    height: 50px !important;

    .ant-select-selection-placeholder,
    .ant-select-selection-item,
    .ant-select-selection-search {
      height: 50px !important;
      line-height: 50px !important;
    }
  }

  .ant-select-arrow {
    color: $backgroundColor;
  }
}

.community-tab-container {
  .right-side-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .share-btn,
  .report-btn {
    margin-right: 1rem;
  }
}

@media (min-width: 576px) {
  .main-content.about-us {
    padding-bottom: 80px !important;
  }
}

@media (max-width: 1440px) {
  .community-section {
    .banner-container {
      height: 340px !important;
      .banner-title-container {
        width: 100%;
        .banner-head {
          width: 100% !important;
        }
      }
    }
  }

  .banner-head {
    .community-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 2rem;

      .stat-container {
        width: 7rem !important;
        position: relative;
        h4 {
          font-family: "Poppins";
          font-size: 20px;
          font-weight: 500;
          color: #e0e0e0;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          font-family: "Inter";
          color: #b0b8bf;
        }
      }
      .stat-container:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 80%;
        width: 1px;
        background-color: #404040;
      }
    }
  }
  .main-content.about-us {
    padding-bottom: 193px !important;
  }
  .about-us-section {
    .page-banner .banner-bg .banner-container {
      .banner-image-container {
        display: none;
      }
    }
    .about-us-body-container {
      margin-top: 2rem;

      .content-container {
        flex-direction: column;
        div {
          width: 100%;
          margin: 0;

          .heading {
            margin: 0;
            padding: 1rem 0;
            font-size: 24px;
            line-height: 32px;
          }

          .paragraph {
            line-height: 26px;
          }

          img {
            width: 100%;
            height: 100%;
          }

          .inner-heading {
            font-size: 24px;
            margin: 0;
            padding: 2rem 0;
          }
        }
      }
      .content-container:first-child {
        flex-direction: column-reverse;
      }
    }

    .our-values-container {
      margin-top: 35px;
      .our-values-inner-container {
        margin: 4rem 0;
        flex-direction: column-reverse;
        > div:first-child {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 1.5rem 1rem;

          .boxes {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            padding: 12px;
            > div {
              padding-left: 0;
              p.paragraph {
                display: none;
              }
            }

            &.comprehensive {
              margin: 0;
            }

            .box-heading {
              font-size: 15px;
              line-height: 20px;
            }

            &:nth-child(1),
            &:nth-child(2) {
              width: 47%;
            }
          }
        }

        .right-our-values {
          width: 100%;
          margin-left: 0;
          margin-bottom: 1.5rem;
          p.white-paragraph {
            display: none;
          }

          .our-values {
            font-size: 24px;
          }
        }
      }
    }

    .recommendation-section {
      p.heading {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -1px;
      }

      > p:nth-of-type(2) {
        letter-spacing: normal;
        margin-left: 0 !important;
        margin-top: 3.5rem !important;
      }
      .box-container {
        flex-wrap: wrap;
        gap: 1rem;

        .recommendation-boxes {
          width: 47%;
          height: 120px;
          padding: 1rem;
          margin: 0;
          position: relative;

          .box-heading {
            font-size: 12px;
            line-height: 18px;
          }
          span svg {
            width: 32px;
            height: 32px;
            position: absolute;
            bottom: 0.5rem;
          }
        }
      }

      .engine-algorithm-container {
        margin-top: 2rem;
        height: 120px;
        .recommendations-div {
          width: 100%;

          p.box-heading {
            font-size: 12px;
            line-height: 18px;
          }
          img {
            width: 32px;
            height: 32px;
            margin-top: 0;
          }
        }
      }

      .IT-buyer-section {
        flex-direction: column;
        height: auto;
        div {
          width: 100%;
          padding: 1rem;
          p.box-heading {
            margin-bottom: 0;
            margin-top: 1rem;
          }
          ul {
            display: none;
          }
        }
      }
    }
    .simplify-technology-container,
    .help-technology-container {
      .container {
        flex-direction: column;
        align-items: flex-start;
        margin: 3rem 0;
        > div {
          display: grid;
          gap: 1rem;
          .heading {
            font-size: 24px;
            line-height: 32px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 2rem;

            br {
              display: none;
            }
          }

          .boxes {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;

            div {
              padding-left: 0;
              margin-top: 1rem;
              p.paragraph {
                display: none;
              }
            }
            &.comprehensive {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .community-listing-page {
    .container {
      // padding-right: 0 !important;
      // padding-left: 1.5rem !important;
      // padding-right: 1.5rem !important;
      .banner-container {
        padding-bottom: 0 !important;
        .banner-image-container span,
        .banner-image-container img {
          width: 558px !important;
          padding-bottom: 0 !important;
          height: 330px !important;
        }
      }
    }
  }
  .dotted-background {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 24px; /* Adjust the width of the dotted background */
    height: 4px; /* Adjust the height of the dotted background */
    background-image: radial-gradient(circle, #000 10%, transparent 10%);
    background-size: 3px 3px; /* Adjust the size of the dots */
  }
}

@media (max-width: 767px) {
  .community-tab-container {
    .share-btn,
    .report-btn {
      margin-right: 1.5rem;
      .btn-title {
        display: none;
      }
    }
  }
  .community-listing-page {
    .container {
      .banner-container {
        height: 370px;
      }
    }
  }
}

@media (max-width: 375px) {
  .banner-head {
    width: 21rem !important;
  }
}
// For Scale 125% (Zoom Level)
@media (min-width: 1536px) and (max-width: 1920px) {
  .top-question {
    .view-more-icon {
      right: 110px !important;
      margin-top: 6% !important;
    }
  }
}

.category-box {
  .swiper {
    .swiper-pagination-bullets {
      height: 30px !important;
      .swiper-pagination-bullet {
        height: 20px;
        width: 20px;
      }
    }
  }
}
