.community-section {
    background-color: $bodyBackgroundColor;
    .community-container {
      margin-top: 100px;
      .content-container {
        display: flex;
        justify-content: space-between;
        div {
          width: 50%;
          margin: 20px 0;
        }
  
        iframe {
          border-radius: 10px;
        }
      }
      .heading {
        font-weight: 600;
        font-size: 48px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: $textBlack;
      }
     .welcometitle{
        text-align: "center"; color:"white"; 
        margin-left: 500px;
     }
     .detailtitle{
        text-align: "center"; color:"white"; 
        margin-left: 200px;
        margin-bottom:200px;
     }
     .totalQueries{
        // margin-bottom:20px;
        // margin-right: 250px;
        
     }
     .h6class{
        padding-left:590px; padding-bottom:130px;
     }
     .searchCommunity{
        width:780px;
         height:50px; 
         text-align: center;
         margin-left: -520px;
         margin-bottom: 100px;
         margin-top: 40px;

     }
     .leranmoreClass{
        margin-bottom: 80px;
     }
     .categoryListTitle{
        font-size: 30px;
        margin-top: 40px;
        text-align: center;
     }

     .browseProduct{
        margin-top:60px;
        margin-left: 100px;

     }
     .icon{
        margin-left: 50px;
     }
     .browseProductName{
        color: #007bff;
        font-size: 16px;
        // margin-left: 40px;
        margin-top:30px;
        // text-align: center;

     }
    
      .banner-container {
            // background-color: #a4bed4;
            margin-bottom: 3rem;
        }

        .thread-title {
            font-size: 23px;
            font-weight: bold;
            line-height: 28px;
            color: #0067b8;
        }
        .round-button {
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          width: 120px; /* Set the width and height to make it round */
          height: 38px;
          background-color: #007bff; /* Set the background color */
          color: #ffffff; /* Set the text color */
          border: none; /* Remove border */
          outline: none; /* Remove outline */
          cursor: pointer; /* Add cursor pointer on hover */
          margin-top:-45px;
          float: right;
        }
         .round-button {
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          width: 100px; /* Set the width and height to make it round */
          height: 30px;
          color: white; /* Set the text color */
          border: none; /* Remove border */
          outline: none; /* Remove outline */
          cursor: pointer; /* Add cursor pointer on hover */
          float: right;
        }
        .pagination li > a{
          opacity: 1.5;
        }
        .v3 .threadlist .lower-content .m-card-group .c-card .dates-line {
            font-size: 13px;
            color: #000;
            line-height: 24px;
        }
        .v3 .threadlist .lower-content .m-card-group .c-card .thread-summary {
            margin-bottom: 4px;
        }
        .double-line-text {
            overflow: hidden;
            position: relative;
            line-height: 24px;
            max-height: 48px;
            margin-right: -1em;
            padding-right: 1em;
            margin-top: 2px;
            font-size: 20px;
        }
        .threadlist-filter-options {
            margin-top: 12px;
        }
        .v3 .threadlist .lower-content #filterSection #filterByTypeControls {
            display: inline-block;
        }
        .c-label{
            margin-left: 60px;
        }
        .filterClass{
        font-weight: 600;
        }
        .c-button{
            width: 150px;
            height: 40px;
            background-color: #0067b8;
            color: white;
            margin-bottom: 15px;
            margin-left: 1500px;
                        
        }
        
    }

  
  }
  
  @media (min-width: 576px) {
    .main-content.about-us {
      padding-bottom: 80px !important;
    }
  }
  
  @media (max-width: 575px) {
    .main-content.about-us {
      padding-bottom: 193px !important;
    }
    .about-us-section {
      .page-banner .banner-bg .banner-container {
        .banner-image-container {
          display: none;
        }
      }
      .about-us-body-container {
        margin-top: 2rem;
  
        .content-container {
          flex-direction: column;
          div {
            width: 100%;
            margin: 0;
  
            .heading {
              margin: 0;
              padding: 1rem 0;
              font-size: 24px;
              line-height: 32px;
            }
  
            .paragraph {
              line-height: 26px;
            }
  
            img {
              width: 100%;
              height: 100%;
            }
  
            .inner-heading {
              font-size: 24px;
              margin: 0;
              padding: 2rem 0;
            }
          }
        }
        .content-container:first-child {
          flex-direction: column-reverse;
        }
      }
  
      .our-values-container {
        margin-top: 35px;
        .our-values-inner-container {
          margin: 4rem 0;
          flex-direction: column-reverse;
          > div:first-child {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 1.5rem 1rem;
  
            .boxes {
              width: 100%;
              flex-direction: column;
              align-items: flex-start;
              gap: 1rem;
              padding: 12px;
              > div {
                padding-left: 0;
                p.paragraph {
                  display: none;
                }
              }
  
              &.comprehensive {
                margin: 0;
              }
  
              .box-heading {
                font-size: 15px;
                line-height: 20px;
              }
  
              &:nth-child(1),
              &:nth-child(2) {
                width: 47%;
              }
            }
          }
  
          .right-our-values {
            width: 100%;
            margin-left: 0;
            margin-bottom: 1.5rem;
            p.white-paragraph {
              display: none;
            }
  
            .our-values {
              font-size: 24px;
            }
          }
        }
      }
  
      .recommendation-section {
        p.heading {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -1px;
        }
  
        > p:nth-of-type(2) {
          letter-spacing: normal;
          margin-left: 0 !important;
          margin-top: 3.5rem !important;
        }
        .box-container {
          flex-wrap: wrap;
          gap: 1rem;
  
          .recommendation-boxes {
            width: 47%;
            height: 120px;
            padding: 1rem;
            margin: 0;
            position: relative;
  
            .box-heading {
              font-size: 12px;
              line-height: 18px;
            }
            span svg {
              width: 32px;
              height: 32px;
              position: absolute;
              bottom: 0.5rem;
            }
          }
        }
  
        .engine-algorithm-container {
          margin-top: 2rem;
          height: 120px;
          .recommendations-div {
            width: 100%;
  
            p.box-heading {
              font-size: 12px;
              line-height: 18px;
            }
            img {
              width: 32px;
              height: 32px;
              margin-top: 0;
            }
          }
        }
  
        .IT-buyer-section {
          flex-direction: column;
          height: auto;
          div {
            width: 100%;
            padding: 1rem;
            p.box-heading {
              margin-bottom: 0;
              margin-top: 1rem;
            }
            ul {
              display: none;
            }
          }
        }
      }
      .simplify-technology-container,
      .help-technology-container {
        .container {
          flex-direction: column;
          align-items: flex-start;
          margin: 3rem 0;
          > div {
            display: grid;
            gap: 1rem;
            .heading {
              font-size: 24px;
              line-height: 32px;
              width: 100%;
              margin-right: 0;
              margin-bottom: 2rem;
  
              br {
                display: none;
              }
            }
  
            .boxes {
              width: 100%;
              flex-direction: column;
              align-items: flex-start;
  
              div {
                padding-left: 0;
                margin-top: 1rem;
                p.paragraph {
                  display: none;
                }
              }
              &.comprehensive {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  