.connect-radio-box-wrapper {
  text-align: left;
  width: 480px;

  .form-group {
    margin-bottom: 0px;
    width: auto;
    height: 72px;
  }

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .horizontal {
    label {
      margin-left: 15px;
    }
  }

  label {
    display: block;
    // background-color: $white;
    padding: 15px 20px;
    // font-family     : sans-serif, Arial;
    border: 1px solid $lightBlack;
    border-radius: 35px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  label:hover {
    background-color: $backgroundColor;

    color: $white;
    border: none;
  }

  .labelChecked {
    background-color: $backgroundColor;
    border: none;
  }
}

.column-class {
  columns: 2;
}
@media (max-width: 1440px) {
  .connect-radio-box-wrapper {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-group {
      margin-bottom: 0px;
      width: auto;
      height: max-content;
    }

    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }

    .horizontal {
      label {
        margin-left: 15px;
      }
    }

    label {
      display: block;
    //   padding: 15px 20px;
      border: 1px solid $lightBlack;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
    }

    label:hover {
      background-color: $backgroundColor;
      color: $white;
      border: none;
    }

    .labelChecked {
      background-color: $backgroundColor;
      color: $white;
      border: none;
    }
  }
}
