// downtime Calculator

.downtimeCalculatorContainer {
  padding: 3rem 0;
  // display: flex;
  // justify-content: flex-start;
  .heading {
    text-transform: capitalize;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #272727;
    margin: 0;
    margin-bottom: 20px;
  }
  .flexContainer {
    // width: 120%;
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
    // align-items: center;
  }
  .flexDivOne {
    width: 530px;
    flex-direction: column;
  }
  .flexDivTwo {
    // margin-left: 10%;
    height: fit-content;
    min-width: 30%;
    width: 35%;

    .resultContainer {
      > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          margin-bottom: 0 !important;
        }
        > p:first-child {
          width: 70%;
        }
      }
    }
  }
  .resultContainer {
    text-align: left;
    padding: 10px;
    font-weight: 450;
    font-size: 18px;
    // margin-top: 38px;
    background-color: #fff;
    border: 1px solid $grey;
    border-radius: 4px;
  }
  .flexTitle {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.45px;
    color: #272727;
    // margin: 15px 0px;
    padding: 10px 0;
  }
  .flexInput {
    border: 0.5px solid #000;
    font-weight: 600;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    width: 110px;
    text-align: left;
    padding-left: 5px;
    background-color: #fff;
  }
  .antRowContainer {
    margin-top: -15px;
    display: "flex";
    // width: 530px;
    justify-content: space-between;
  }
  // .row {
  //   margin-right: unset;
  // }
  // .resultText{
  //   background-color: #fff;
  //   height: 40px;
  //   line-height: 40px;
  //   border-radius: 4px;
  //   width: auto;
  //   text-align: left;
  //   padding: 0px 5px;
  //   font-weight: 450;
  //   font-size: 18px;
  // }
  // .resultText:first-child{
  //   margin-top: 25px;
  // }
  .flexDivTwo span {
    font-weight: 600;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .custom-btn {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .calculateBtn {
    font-weight: 400;
    margin: 20px 0px;
    padding: 10px 30px;
    background-color: transparent;
    color: #333;
    border: 0.5px solid #000;
    text-transform: uppercase;
    height: auto;
  }
  .calculateBtn:hover,
  .calculateBtn:focus {
    background-color: #333;
    color: #fff;
  }
  .ant-slider-rail {
    // background-color: $backgroundColor !important;
  }
  .ant-slider-dot {
    display: none !important;
  }
  .ant-slider-handle {
    height: 15px;
    width: 15px;
    margin-top: -6px;
    margin-left: 5px;
    border-color: #000;
  }
  .ant-slider-handle:focus {
    border-color: #000;
  }
  .ant-slider-track {
    background-color: #000;
  }
  .ant-radio-wrapper {
    border: none;
    padding: 0px 10px !important;
    margin: 0px;
    padding: 0px;
    width: 200px;
  }

  .explaination {
    font-size: 12px;
    color: #6c757d;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .downtimeCalculatorContainer {
    padding: 0px 20px;
    flex-direction: column;
    .flexInput {
      height: 35px;
      line-height: 35px;
      width: 90px;
    }
    .flexDivOne {
      width: 100%;
    }
    .flexDivTwo {
      margin: unset !important;
      margin-top: 10px !important;
      width: 100%;
    }
    .antRowContainer {
      width: unset;
      margin: 0px;
    }
    .col {
      padding: 0px;
      margin: 0px;
    }
    .explaination {
      margin-left: 0px !important;
    }
    .flexTitle {
      margin: 0px;
      padding: 0px;
    }
    .heading {
      margin-bottom: 30px;
    }
    .flexContainer {
      align-items: center;
    }
    // .flexTitle{
    //   margin-top: 0;
    //   padding: 10px 0px;
    // }
  }
}
