// header
.header-block {
  padding: 16px 0; // new design
  background-color: #141414;
  &.header1 {
    padding: 14px 0;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    // background-color: $backgroundColor;
    background-color: #141414;

    .nav-item a {
      color: #ffffff;
    }
  }

  .logo-content-block {
    display: flex;
    align-items: center;

    .logo-wrapper {
      display: inline-block;
      vertical-align: middle;

      a {
        display: inline-block;
        vertical-align: middle;

        .logo {
          width: 106px;
          height: 49px;
          object-fit: contain;
        }
      }
    }

    .content-block {
      display: inline-block;
      vertical-align: middle;

      h5 {
        color: $black;
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 400;
        margin: 0;
        position: relative;
        padding-left: 16px;
        margin-left: 16px;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: 40px;
          background-color: #707070;
        }
      }
    }
  }
}

// menu-wrapper
.main-menu-wrapper {
  text-align: right;

  .navbar-link-wrapper {
    display: block;
    width: 100%;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.6rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        padding: 9px 10px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Inter";
        font-style: normal;
        line-height: 26px;
        letter-spacing: 0.32px;
        text-align: right;
        // color: $black;
        color: #e0e0e0;

        &.active {
          border: 1px solid rgba(112, 112, 112, 0.25);
          border-radius: 5px;
        }
        &.with-bg {
          background-color: #000000;
          // position: absolute;
          color: #fff;
          width: 149px;
          height: 56px;
          left: 1161px;
          top: 21px;
          border-radius: 12px;
        }
      }
    }
  }
}

.menu-search-block {
  text-align: right;
}

.menu-wrapper {
  .ant-drawer-content-wrapper {
    width: 400px !important;
    transition: all 0.5s ease-in-out;
  }

  .ant-drawer-body {
    background-color: #fcfdf5;
    padding: 3rem 3rem 0 3rem;
  }

  .close-icon {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
  }

  .category-box {
    // height    : 400px;
    // overflow-y: scroll;
    text-align: left;
  }

  .category-section {
    text-align: center;
  }

  .navbar {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
  }

  .navbar-link-block {
    li {
      a {
        padding: 0;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        line-height: 34px;
        letter-spacing: 0.24px;
        color: #ffffff;
      }
    }
  }

  .category-banner-wrapper {
    .category-banner-block {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .category-banner {
      height: 71px;
      border-radius: 5px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .category-img {
        padding-right: 10px;
        width: 40px;
      }

      .category-content {
        cursor: pointer;

        h6 {
          margin: 0;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.45px;
          color: #ffffff;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .menu-wrapper {
    .navbar-link-wrapper {
      .Market-link {
        border: 1px solid $white;
        border-radius: 5px;
        color: $white;
        padding: 5px 15px;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .ant-drawer-content-wrapper {
      width: 290px !important;
      transition: all 0.5s ease-in-out;
      box-shadow: none !important;
      top: 30px;
      height: 64% !important;
      right: -5px;
    }

    .ant-drawer-content {
      box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
      height: 425px !important;
      border-radius: 7px 0 0 7px;
    }

    .ant-drawer-body {
      background-color: $white;
      padding: 0rem 0rem 0 0rem;
    }

    .navbar-link-block {
      li {
        a {
          color: $backgroundColor;
          font-weight: 600;
        }
      }
    }

    .close-icon {
      display: none;
    }

    .logo-content-block {
      padding: 18px;
      border-bottom: solid 2px rgba(25, 25, 112, 0.2);

      .logo-wrapper {
        a {
          .logo {
            width: 35%;
            height: auto;
          }
        }
      }
    }

    .navbar {
      margin: 0;
      height: 79%;

      .navbar-link-block {
        li {
          padding: 5px 0;
        }

        padding: 10px 18px;
        height: 100%;
      }
    }
  }

  .header-block {
    .logo-content-block {
      .logo-wrapper {
        display: block;
      }

      .content-block {
        h5 {
          padding: 0;
          margin: 0;
          font-size: 16px;
          font-weight: 300;

          &:before {
            display: none;
          }
        }

        display: block;
      }

      display: block;
    }

    padding: 2.5rem 0 !important;

    .row {
      margin: 0 -5px;
    }
  }

  .header-block.main-header {
    .logo-content-block {
      .logo-wrapper {
        a {
          .logo {
            filter: invert(1);
            width: auto;
          }
        }
      }

      .content-block {
        h5 {
          color: $white;
        }
      }
    }
  }

  .header-block.market {
    .logo-content-block {
      .logo-wrapper {
        a {
          .logo {
            height: 30px;
          }
        }
      }

      .content-block {
        h5 {
          font-size: 12px;
        }
      }
    }
  }

  .header1 {
    .first-block {
      padding: 0 5px;
      width: 50%;
    }

    .second-block {
      padding: 0 5px;
      width: 50%;
    }
    .right-block {
      .menu-block .menu-icon span {
        background-color: #fff;
      }
    }

    + {
      .main-content {
        .bottom-line {
          background-color: rgba(25, 25, 112, 0.5);
          position: fixed;
        }
      }
    }
  }

  .menu-block {
    .menu-icon {
      span {
        width: 25px;
        height: 4px;
        // background-color: $blue;
        background-color: #777e90;

        &:nth-child(2) {
          // width: 21px;
          margin-top: 4px;
          margin-bottom: 4px;
        }

        // &:nth-child(3) {
        //   width: 17px;
        // }
      }

      width: auto;
    }
  }

  .left-block,
  .right-block {
    padding: 0 5px;
    width: 50%;
  }

  .right-block {
    width: 50%;
    display: block;
  }
}
