section.explore-wrapper {
  background: url(../images/home/Hero.png) center center;
  background-size: cover;
  .home-page-title {
    // background: url(../images/home-bg-img.png) no-repeat center center;
    margin-top: 2rem;
    // margin-bottom: 4rem;
  }

  .content-wrapper {
    margin: 60px 0 80px 0;
    .content-title-wrapper {
      .main-title {
        font-size: 32px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 48px;
        letter-spacing: -0.5px;
        color: #fafafa;
        span {
          font-weight: 700;
        }
      }

      .main-title-two {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 20px;
        color: #fafafa;
      }
    }
  }
}

.category {
  margin-top: 1rem;

  .slider-container {
    button.slick-prev {
      z-index: 1;
      border: none;
      left: 60px;
    }
    button.slick-prev:before {
      font-size: 2.5rem;
    }

    button.slick-next {
      z-index: 1;
      border: none;
      right: 70px;
    }
    button.slick-next:before {
      font-size: 2.5rem;
    }

    .slick-dots li button:before {
      color: #fff;
      font-size: 10px;
      margin-top: 10px;
    }

    .slick-dots li.slick-active button:before {
      font-size: 12px;
    }

    .slick-list .slick-track {
      gap: 1rem;
      display: flex;
      .slick-slide {
        color: #fff;
        border: 1px solid #2c2c2c;
        padding: 48px 32px;
        border-radius: 17px;
        background-color: #1e1e1e;
        height: auto;
        min-height: 14rem;

        .category-card {
          .title {
            color: #fff;
          }

          .learn-more-btn {
            border: 1.5px solid #fff;
            padding: 12px 16px;
            border-radius: 2px;
            color: #fff;
            position: absolute;
            margin: 1rem 0;
          }
        }
      }
    }
  }
}
