section.explore-wrapper {
  .home-page-title {
    background: url(../images/home-bg-img.png) no-repeat center center;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .content-wrapper {
    margin: 60px 0 80px 0;
    .content-title-wrapper {
      .main-title {
        font-size: 32px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 48px;
        letter-spacing: -0.5px;
        color: #fafafa;
        span {
          font-weight: 700;
        }
      }

      .main-title-two {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 20px;
        color: #fafafa;
      }
    }
  }
}
