section.explore-wrapper {
  background: url(../images/home/Hero.png) center center;
  background-size: cover;
  height: 120vh;
  .home-page-title {
    // background: url(../images/home-bg-img.png) no-repeat center center;
    margin-top: 2rem;
    // margin-bottom: 4rem;
  }

  .content-wrapper {
    margin: 20px 0 35px 0;
    .content-title-wrapper {
      .main-title {
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;

        letter-spacing: -0.5px;
        color: #ffffff;
        span {
          font-weight: 700;
        }
      }

      .main-title-two {
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        color: #e0e0e0;
        margin: 0;
      }
    }
  }
}

.category {
  margin-top: 1rem;

  .slider-container {
    button.slick-prev {
      z-index: 1;
      border: none;
      left: 15.5rem;
    }
    button.slick-prev:before {
      font-size: 2.5rem;
    }

    button.slick-next {
      z-index: 1;
      border: none;
      right: 16.2rem;
    }
    button.slick-next:before {
      font-size: 2.5rem;
    }

    .slick-dots {
      margin-top: 1rem;
      bottom: -3rem;
    }

    .slick-dots li button:before {
      color: #fff !important;
      margin-top: -3px;
      &.slick-active {
        content: "";
      }
    }

    .slick-dots li.slick-active {
      width: 2rem;
      height: 0.75rem;
      border-radius: 1000px;
      background-color: #fff;
    }

    .slick-list {
      .slick-track {
        gap: 1rem;
        display: flex;
        padding-top: 2rem;
        align-items: center;
        // width: 47rem !important;
        .slick-slide {
          color: #fff;
          border: 1px solid #2c2c2c;
          padding: 48px 32px;
          border-radius: 17px;
          background-color: #1e1e1e;
          height: 270px !important;
          background: linear-gradient(#000, #1e1e1e7a); // min-height: 14rem;
          backdrop-filter: blur(10px);
          &.slick-current {
            height: 300px !important;
          }

          .category-card {
            .title {
              color: #ffffff;
              font-weight: 500;
              font-size: 24px;
            }
            .description {
              font-weight: 400;
              font-size: 16px;
              margin-bottom: 4rem;
            }

            .learn-more-btn {
              border-radius: 2px;
              border: 1.5px solid #fff;
              padding: 12px 16px;
              border-radius: 2px;
              color: #fff;
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

//Desktop Styles
@media (min-width: 1441px) {
  .explore-wrapper {
    .content-wrapper {
      .content-title-wrapper {
        .main-title {
          font-size: 32px;
          line-height: 48px;
        }

        .main-title-two {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}

// tablet and mobile
@media (max-width: 1440px) {
  .category .slider-container button.slick-prev,
  .category .slider-container button.slick-next {
    display: none !important;
  }
  .category .slider-container .slick-list .slick-track .slick-slide {
    height: fit-content !important;
    &.slick-current {
      height: fit-content !important;
    }
  }

  .explore-wrapper {
    height: 100vh !important;
    .content-wrapper {
      margin: 0;
      .content-title-wrapper {
        .main-title {
          font-size: 1.75rem;
          line-height: 2.125rem;
        }

        .main-title-two {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}

// Mobile Styles
@media (max-width: 767px) {
  .explore-wrapper {
    .content-wrapper {
      .content-title-wrapper {
        .main-title {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }
  }
}

// Tablet Styles
@media (min-width: 768px) and (max-width: 1440px) {
}
