.market-research-portal-section {
  .market-research-body-container {
    // margin: 1rem 0;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }

  .title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 125%;
  }

  .research-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin: 1rem 0;
    margin-top: 2rem;
    margin-bottom: 1rem;

    .research-list {
      .research-card {
        .custom-icon {
          position: absolute;
          bottom: 40px;
        }
      }
    }
  }

  .market-trend-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    .title {
      width: 80%;
      font-weight: 600;
    }

    .market-trend-content {
      display: flex;
      flex-direction: column;
      margin: 3rem;
      width: 100%;
      .market-trend-card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &:not(:first-child) {
          margin-top: 30px;
        }
      }
    }
    .card {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 624px;
      height: 341px;
      padding: 1.5rem;

      span.anticon {
        svg {
          // width: 150px;
          // height: auto;
        }
      }

      p {
        // width: 151px;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        margin: 0;
      }
    }

    .card:not(:first-child) {
      margin-left: 20px;
    }
  }

  .template-toolkit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      width: 1110px;
      font-weight: 600;
    }
    .template-card-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      width: 100%;

      .template-card {
        width: 238px;
        height: 200px;
        &:not(:first-child) {
          margin-left: 20px;
        }
        .template-card-title {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: -0.66px;
          // width: 100px;
        }

        .template-card-icon {
          margin-top: 2rem;
          // width: 30px;
          // height: 30px;
        }
      }
    }
  }
}

section.latest-research-section {
  // background: url(../images/latest-research-bg-img.png) no-repeat center center;
  background-color: #ffffff;
  padding: 2rem 0;
  text-align: left;

  .section-title {
    color: #fafafa;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 20px;
  }

  .research-card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
  }

  .latest-research-card {
    border: 1px solid white;
    background-color: #fafafa;
    padding: 1.5rem 1rem;
    border-radius: 12px;
    // min-width: 25rem;
    // width: 25rem;
    .research-title-section-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      color: $backgroundColor;
    }
    .research-title-wrapper {
      margin-left: 0.7rem;
      text-align: left;
    }

    .title {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 20px;
      color: #000;
      padding: 0;
      margin: 0;
    }
    .date {
      font-weight: 600;
      font-size: 1rem;
      line-height: 20px;
      color: #000;
      padding: 0;
      margin: 0;
      margin-top: 10px;
    }
    .research-content {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 20px;
      text-align: left;
      color: #000;
      margin-top: 1rem;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .market-research-portal-section {
    .market-research-body-container {
      // margin: 1rem 0;
      margin-top: 3.5rem;
      margin-bottom: 1rem;
    }
    .title {
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 125%;
    }
    .donation {
      .donate {
        margin-left: -3rem;
      }
    }
    .research-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // margin: 1rem 0;
      margin-top: 2rem;
      margin-bottom: 1rem;

      .research-card {
        .custom-icon {
          position: absolute;
          bottom: 40px;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .market-research-portal-section {
    .page-banner .banner-bg .banner-container .banner-title-container {
      .custom-btn {
        margin-top: 3rem;
      }
    }
  }
}

@media (max-width: 1440px) {
  .market-research-portal-section {
    .banner-image-container,
    // .sub-title {
    //   display: none;
    // }
    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .research-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      gap: 2rem 18px;

      .research-card {
        width: auto;
        height: 205px;

        .ant-card-body {
          padding: 12px;

          .research-card-text {
            display: none;
          }

          .research-card-title {
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0;
          }
        }

        .custom-icon {
          bottom: 1rem;
          width: 32px !important;
          height: 32px !important;
          min-height: 32px !important;
          min-width: 32px !important;
        }
      }
    }

    .market-trend-section {
      .title {
        width: 100%;
      }
    }
  }
}
