.bottomMarks {
  background-color: #0074d9;
  color: #0074d9;
}


.profile-user {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
  justify-content: center;
  min-height: 80em;
  gap: 1.2em;

  .card-tab {
    min-height: 800px;
    max-height: 840px;
    width: 480px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    top: 60px;
    position: relative;
    border: 1px solid #f5f5f5;

    span.anticon {
      svg {
        // color: $backgroundColor;
        color: $grey;
      }
    }

    .mask {
      min-height: 128px;
      width: 95%;
      border-radius: 10px;
      background: $backgroundColor;
      margin: 0px auto;
      mix-blend-mode: normal;
      opacity: 0.1;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .profile-alt {
      text-align: center;
      position: relative;
      top: -40px;
      img {
        padding: 4px;
        border: 2px solid $backgroundColor;
        border-radius: 100%;
        border-width: thick;
      }
      h4 {
        margin-top: 10px;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: center;
      }
      h6 {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        bottom: 6px;
        position: relative;
        color: $grey;
      }
    }

    .ctrl {
      height: 64px;
      width: 95%;
      margin: auto;
      border-radius: 12px;
      background-color: $white;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      img {
        margin-left: 24px;
      }

      .ctrl-title {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0px;
        color: $textBlack;
        text-align: left;
        margin-top: 4px;
      }
      .ctrl-detail {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        color: $grey;
        text-align: left;
      }
    }
    
    .ctrl.selected {
      height: 64px;
      width: 95%;
      margin: auto;
      border-radius: 12px;
      background-color: rgba($backgroundColor, 0.1);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      span.anticon {
        svg {
          color: $backgroundColor;
        }
      }
      img {
        margin-left: 24px;
      }

      .ctrl-title {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0px;
        color: $backgroundColor;
        text-align: left;
        margin-top: 4px;
      }
      .ctrl-detail {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        color: $backgroundColor;
        text-align: left;
      }
    }
  }
  .profile-content {
    min-width: 670px;
    max-width: 670px;
  }
  .user-profile {
    .card-content {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      top: 60px;
      position: relative;
      border: 1px solid #f5f5f5;
      height: 310px;
      width: 670px;

      .content-title {
        font-family: "Poppins";
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 24px;
        margin-left: 24px;
      }
      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;

        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
        .content-input {
          top: 8px;
          height: 58px;
          width: 92%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
        .input-text {
          font-family: "Poppins";
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
    }
  }

  .account-content-btn {
    margin: 0%;
    position: relative;
    top: 120px;
    margin: 36px auto;
    .back-btn {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.45px;
      text-align: center;
      line-height: 20px;
      padding: 0;
      height: 56px;
      width: 165px;
      border-radius: 16px;
      display: inline-block;
      vertical-align: middle;
      font-family: "Poppins";
      background-color: $gray;
      border-width: 0px;

      &:hover {
        border: 1px solid $gray;
        color: $textBlack;
      }

      & + {
        button {
          margin-left: 20px;
        }
      }
    }
    .nxt-btn {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.45px;
      text-align: center;
      line-height: 20px;
      padding: 0;
      height: 56px;
      width: 165px;
      border-radius: 16px;
      display: inline-block;
      vertical-align: middle;
      font-family: "Poppins";
      background-color: $backgroundColor;
      color: $textColor;
      border-width: 0px;
      &:hover {
        border: 1px solid $gray;
        color: $textColor;
      }
    }
  }

  //login
  .login-card {
    height: 750px;

    .card-login-content {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      top: 100px;
      position: relative;
      border: 1px solid #f5f5f5;
      height: 453px;
      width: 680px;
      .content-lable {
        margin-left: 24px;
        margin-top: 24px;
        font-family: "Poppins";
        text-align: left;
        width: 420px;
        span {
          font-size: 22px;
          font-weight: 600;
          line-height: 32px;
          letter-spacing: 0px;
        }
        p {
          font-family: "Poppins";
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0px;
          color: $grey;
        }
      }

      .content-title {
        font-family: "Poppins";
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 24px;
        margin-left: 24px;
      }

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: -14px;

        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
    }

    .content-btn {
      margin: 36px auto;
      position: relative;
      top: 12%;
      .back-btn {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        padding: 0;
        height: 56px;
        width: 165px;
        border-radius: 16px;
        display: inline-block;
        vertical-align: middle;
        font-family: "Poppins";
        background-color: $gray;
        border-width: 0px;

        &:hover {
          border: 1px solid $gray;
          color: $textBlack;
        }

        & + {
          button {
            margin-left: 20px;
          }
        }
      }
      .nxt-btn {
        padding: 0;
        height: 56px;
        width: 165px;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 16px;
        display: inline-block;
        vertical-align: middle;
        font-family: "Poppins";
        background-color: $backgroundColor;
        color: $textColor;
        border-width: 0px;
        &:hover {
          border: 1px solid $gray;
          color: $textColor;
        }
      }
    }
  }

  //professional details
  .professional-card {
    // height: 750px;
    height: max-content;
    .card-professional-content {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      top: 100px;
      position: relative;
      border: 1px solid #f5f5f5;
      height: 411px;
      border-radius: 16px;
      width: 680px;
      .content-lable {
        margin-left: 24px;
        margin-top: 24px;
        font-family: "Poppins";
        text-align: left;
        width: 420px;
        span {
          font-size: 22px;
          font-weight: 600;
          line-height: 32px;
          letter-spacing: 0px;
        }
        p {
          font-family: "Poppins";
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0px;
          color: $grey;
        }
      }

      .content-title {
        font-family: "Poppins";
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 24px;
        margin-left: 24px;
      }

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: -4px;

        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
        .content-input-about {
          height: 142px;
          width: 93%;
          border-radius: 10px;
          margin: 10px auto;
          padding: 10px;
        }
        .content-input-about::placeholder {
          line-height: 1.2;
        }
        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
    }
    .card-professional-location {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      // top: 200px;
      // position: relative;
      margin-top: 136px;
      border: 1px solid #f5f5f5;
      height: 138px;
      width: 680px;
      border-radius: 16px;
      width: 680px;
      .content-lable {
        margin-left: 24px;
        font-family: "Poppins";
        text-align: left;
        width: 420px;
        span {
          font-size: 22px;
          font-weight: 600;
          line-height: 32px;
          letter-spacing: 0px;
        }
        p {
          font-family: "Poppins";
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0px;
          color: $grey;
        }
      }

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: -4px;

        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }

        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
    }
    .card-professional-rate {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      // top: 236px;
      // position: relative;
      margin-top: 36px;
      border: 1px solid #f5f5f5;
      width: 680px;
      border-radius: 16px;
      height: 301px;
      border-radius: 16px;

      .content-lable {
        margin-left: 24px;
        margin-top: 24px;
        font-family: "Poppins";
        text-align: left;
        width: 420px;
        span {
          font-size: 22px;
          font-weight: 600;
          line-height: 32px;
          letter-spacing: 0px;
        }
        p {
          font-family: "Poppins";
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0px;
          color: $grey;
        }
      }

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: -4px;

        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }

        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
        .content-input-division {
          height: 58px;
          top: 8px;
          position: relative;
          border-radius: 10px;
          height: 58px;
          width: 304px;
          border-radius: 10px;
        }
      }
    }
    .card-professional-expertise {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      // top: 272px;
      // position: relative;
      border: 1px solid #f5f5f5;
      height: 189px;
      width: 680px;
      border-radius: 16px;
      width: 680px;

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: -4px;

        .selection-container {
          border-radius: 17.5px;
          background-color: rgba($backgroundColor, 0.1);
          height: 35px;
          width: max-content;
          text-align: center;
          padding: 0px 18px;
          margin-left: 24px;
          line-height: 35px;
          // justify-content:space-between;
        }
        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }

        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
    }
    .card-professional-industries {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      // top: 308px;
      // position: relative;
      border: 1px solid #f5f5f5;
      height: 189px;
      width: 680px;
      border-radius: 16px;
      width: 680px;

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: -4px;

        .selection-container {
          border-radius: 17.5px;
          background-color: rgba($backgroundColor, 0.1);
          height: 35px;
          width: max-content;
          text-align: center;
          padding: 0px 18px;
          margin-left: 24px;
          line-height: 35px;
          // justify-content:space-between;
        }
        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }

        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
    }
    .card-professional-languages {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      // top: 344px;
      // position: relative;
      border: 1px solid #f5f5f5;
      height: 189px;
      width: 680px;
      border-radius: 16px;
      width: 680px;

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: -4px;

        .selection-container {
          border-radius: 17.5px;
          background-color: rgba($backgroundColor, 0.1);
          height: 35px;
          width: max-content;
          text-align: center;
          padding: 0px 18px;
          margin-left: 24px;
          line-height: 35px;
          // justify-content:space-between;
        }
        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }

        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
    }
    .card-work-details {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      // top: 380px;
      // position: relative;
      border: 1px solid #f5f5f5;
      width: 680px;
      height: 552px;
      border-radius: 16px;

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: 24px;
        .add-more-btn {
          height: 56px;
          width: 159px;
          background-color: $black;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          margin-right: 40px;
          button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: $black;
            border: none;
            color: $textColor;
          }
        }
        .selection-container {
          border-radius: 17.5px;
          background-color: rgba($backgroundColor, 0.1);
          height: 35px;
          width: max-content;
          text-align: center;
          padding: 0px 18px;
          margin-left: 24px;
          line-height: 35px;
          // justify-content:space-between;
        }
        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }

        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
      .work-details-block {
        height: 212px;
        width: 632px;
        border-radius: 10px;
        border: 1px solid #f5f5f5;
        border-radius: 16px;
        position: relative;
        top: 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .award-text {
          font-family: "Poppins";
          font-size: 20px;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
        }
        .education-text {
          font-family: "Poppins";
          font-size: 20px;
          font-weight: 600;
          line-height: 0px;
          letter-spacing: 0px;
          text-align: left;
          margin-top: 14px;
        }
        .award-text1 {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 0px;
          text-align: left;
          color: $lightBlack;
        }
        .award-text2 {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
          line-height: 0px;
          letter-spacing: 0px;
          text-align: left;
          color: $grey;
        }
        .details-text {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: left;
          width: 608px;
          margin: auto;
        }
        .content-block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 85%;
        }
        .edit-block {
          button {
            border: none;
            background-color: $white;
          }
          &:hover {
            background-color: $white !important;
          }
        }
      }
    }
    .card-professional-education {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      // top: 416px;
      // position: relative;
      border: 1px solid #f5f5f5;
      width: 680px;
      border-radius: 16px;
      height: 324px;

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: 24px;
        .add-more-btn {
          height: 56px;
          width: 159px;
          background-color: $black;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          margin-right: 40px;
          button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: $black;
            border: none;
            color: $textColor;
          }
        }
        .selection-container {
          border-radius: 17.5px;
          background-color: rgba($backgroundColor, 0.1);
          height: 35px;
          width: max-content;
          text-align: center;
          padding: 0px 18px;
          margin-left: 24px;
          line-height: 35px;
          // justify-content:space-between;
        }
        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }

        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
      .education-block {
        height: 86px;
        width: 632px;
        border-radius: 10px;
        border: 1px solid #f5f5f5;
        border-radius: 16px;
        position: relative;
        top: 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .award-text {
          font-family: "Poppins";
          font-size: 20px;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
        }
        .education-text {
          font-family: "Poppins";
          font-size: 20px;
          font-weight: 600;
          line-height: 0px;
          letter-spacing: 0px;
          text-align: left;
          margin-top: 14px;
        }
        .award-text1 {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 0px;
          text-align: left;
          color: $lightBlack;
        }
        .award-text2 {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
          line-height: 0px;
          letter-spacing: 0px;
          text-align: left;
          color: $grey;
        }
        .content-block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 85%;
        }
        .edit-block {
          button {
            border: none;
            background-color: $white;
          }
          &:hover {
            background-color: $white !important;
          }
        }
      }
    }
    .card-professional-awards {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      // top: 452px;
      // position: relative;
      border: 1px solid #f5f5f5;
      width: 680px;
      border-radius: 16px;
      height: 324px;

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        width: 100%;
        margin-top: 24px;
        .add-more-btn {
          height: 56px;
          width: 159px;
          background-color: $black;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          margin-right: 40px;
          button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: $black;
            border: none;
            color: $textColor;
          }
        }
        .selection-container {
          border-radius: 17.5px;
          background-color: rgba($backgroundColor, 0.1);
          height: 35px;
          width: max-content;
          text-align: center;
          padding: 0px 18px;
          margin-left: 24px;
          line-height: 35px;
          // justify-content:space-between;
        }
        .content-lable {
          margin-left: 24px;
          margin-top: 24px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }

        .content-input {
          top: 6px;
          height: 58px;
          width: 93%;
          top: 8px;
          position: relative;
          margin: 0px auto;
          border-radius: 10px;
        }
      }
      .award-block {
        height: 86px;
        width: 632px;
        border-radius: 10px;
        border: 1px solid #f5f5f5;
        border-radius: 16px;
        position: relative;
        top: 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .award-text {
          font-family: "Poppins";
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
        .award-text2 {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
          line-height: 0px;
          letter-spacing: 0px;
          text-align: left;
        }
        .content-block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 85%;
        }
        .edit-block {
          button {
            border: none;
            background-color: $white;
          }
          &:hover {
            background-color: $white !important;
          }
        }
      }
    }
    .content-btn {
      // margin: 0%;
      position: relative;
      top: 20px;
      // margin-top: 36px;
      .back-btn {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        padding: 0;
        height: 56px;
        width: 165px;
        border-radius: 16px;
        display: inline-block;
        vertical-align: middle;
        font-family: "Poppins";
        background-color: $gray;
        border-width: 0px;

        &:hover {
          border: 1px solid $gray;
          color: $textBlack;
        }

        & + {
          button {
            margin-left: 20px;
          }
        }
      }
      .nxt-btn {
        padding: 0;
        height: 56px;
        width: 165px;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 16px;
        display: inline-block;
        vertical-align: middle;
        font-family: "Poppins";
        background-color: $backgroundColor;
        color: $textColor;
        border-width: 0px;
        &:hover {
          border: 1px solid $gray;
          color: $textColor;
        }
      }
    }
    .professional-btn {
      margin: 36px auto;
      // position: relative;
      // top: 0px;
      .back-btn {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        padding: 0;
        height: 56px;
        width: 165px;
        border-radius: 16px;
        display: inline-block;
        vertical-align: middle;
        font-family: "Poppins";
        background-color: $gray;
        border-width: 0px;

        &:hover {
          border: 1px solid $gray;
          color: $textBlack;
        }

        & + {
          button {
            margin-left: 20px;
          }
        }
      }
      .nxt-btn {
        padding: 0;
        height: 56px;
        width: 165px;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 16px;
        display: inline-block;
        vertical-align: middle;
        font-family: "Poppins";
        background-color: $backgroundColor;
        color: $textColor;
        border-width: 0px;
        &:hover {
          border: 1px solid $gray;
          color: $textColor;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .profile-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    gap: 1.2em;

    .profile-content {
      margin-top: 20px;
      min-width: 100%;
      max-width: 100%;
    }
  }
  .card-tab {
    width: 100% !important;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    top: 30px;
    position: relative;
    border: 1px solid #f5f5f5;
  }

  .user-profile {
    display: flex;
    flex-direction: column;
    min-height: 28em;

    .card-content {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      top: 30px;
      position: relative;
      border: 1px solid #f5f5f5;
      width: 100% !important;
    }
  }
}

// new design code
.profile-container {
  // display: flex;
  margin-top: 4.5rem;
  // margin-bottom: 2rem;
  .header-tabs {
    width: 100%;
    // margin-right: 20px;
  }
  .ant-tabs-tab {
    font-size: 16px;
    line-height: 28px;
    padding: 5px 0;
  }
  .ant-tabs {
    color: #b0b8bf;
  }
  .ant-card-bordered {
    border: 1px solid #e5e7eb;
    border-radius: 16px;
  }
  .card-header-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    .level {
      margin-top: 1rem;
      color: #0074d9;
    }
    div {
      color: #b0b8bf;
      span {
        color: #0074d9;
      }
    }
    .profile-badge {
      position: absolute;
      width: 30px;
      height: 30px;
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // right: 102px;
      top: 85px;
      border: 1.5px solid #ffffff;
      background-color: #0074d9;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .following-section {
    // margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    .head {
      color: #54616c;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    .count {
      color: #001622;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 0px;
    }
    .custom-border {
      border-left: 1.5px solid #d9dfe9;
      margin: 15px 20px 15px 20px;
    }
  }
  .online-section {
    font-weight: 400;
    font-size: 14px;
    .online {
      color: #05a861;
      margin-left: 10px;
    }
    .join-date {
      margin-left: 10px;
      color: #54616c;
    }
    div {
      display: flex;
    }
    .delete-container {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      color: #ff3b3b;
      font-size: 14px;
      font-weight: 400;
      div {
        cursor: pointer;
      }
    }
  }
  .button {
    width: 100%;
    border: 1.5px solid #000;
    font-weight: 500;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    display: block !important;
  }
}

// edit profile
.edit-profile-container {
  .profile-header {
    display: flex;
    .profile-button {
      flex-direction: column;
      margin-left: 8px;
      h6 {
        color: #4c4c4c;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
      div {
        display: flex;
        .remove,
        .upload {
          border: 1.5px solid #000;
          border-radius: 2px;
          padding: 4px 16px;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
        }
        .upload {
          margin-left: 10px;
          background-color: #000;
          color: #ffffff;
        }
        .ant-upload-select {
          border: 1px solid #000000;
          margin: 0px 10px;
          background-color: #000;
          color: #ffffff;
          padding: 4px 24px;
          border-radius: 2px;
          span.ant-upload {
            color: #ffffff;
          }
        }
        .anticon-loading {
          margin-right: 5px;
        }
      }
    }
  }
  .profile-details {
    // margin-top: 2rem;
    p {
      margin-top: 1rem;
      font-weight: 500;
      font-size: 14px;
      color: #4c4c4c;
      margin-bottom: 2px;
    }
    div:nth-child(2) p {
      margin-top: 1.4rem;
    }
    input {
      height: 48px;
      border: 1px solid #d9dfe9;
      border-radius: 2px;
    }
    .phone-number {
      display: flex;
      .country-code-field {
        width: 23%;
      }
      .ant-select-selector {
        height: 48px;
        .ant-select-selection-placeholder,
        .ant-select-selection-item {
          line-height: 48px;
        }
      }
      input {
        margin-left: 10px;
        margin-top: 7px;
      }
    }
  }
}

.edit-profile-modal {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 110%!important;
    height: 46px!important;
    padding: 5px 11px!important;
    margin-top: 7px!important;
  }
  .ant-select-arrow {
    top: 57%!important;
    right: 0px!important;
  }
  .ant-modal-header {
    padding: 24px 24px 0px;
  }
  .ant-modal-close-x {
    margin: 8px;
  }
  .ant-modal-footer {
    padding: 0px 24px 24px 24px;
  }
}
.ant-modal-footer .profile-modal-button {
  width: 100%;
  background-color: #d9dfe9;
  padding: 12px 16px;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
  cursor: pointer;
}
.ant-modal-footer .profile-modal-button:hover {
  background-color: #0074d9;
}
// sign out modal
.sign-out-container {
  .ant-modal-body {
    padding: 0 24px;
  }
}
.ant-modal-footer {
  display: flex;
  justify-content: space-between;
  .sign-out-modal-button {
    border: 1.5px solid #000;
    padding: 8px 54px;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 28px;
    cursor: pointer;
  }
  .confirm {
    background-color: #000;
    color: #ffffff;
  }
  .ant-modal-footer .sign-out-modal-button:hover {
    background-color: #0074d9;
  }
}

// tab1
.profile-tab-container {
  margin: 1.5rem 0px 0px;
  hr {
    border-color: #ebebf0;
  }
  .input-container {
    display: flex;
    > :first-child {
      width: 48%;
      margin-right: 2%;
    }
    > :nth-child(2) {
      width: 50%;
    }
    .add {
      width: fit-content !important;
      color: #0074d9;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      border-bottom: 1px solid #0074d9;
      line-height: 20px;
      float: right;
    }
    h6 {
      color: #4c4c4c;
      font-weight: 500;
      font-size: 14px;
    }
    h5 {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 0px;
      word-wrap: break-word;
    }
  }
 
}

// tab2
.ask-question-tag .ant-select-selector,
.ask-question-tag .ant-select-selector .ant-select-selection-overflow {
  border: none !important;
}
.community-tab-container {
  margin-top: 0.3rem;
  .search-container {
    display: flex;
    justify-content: space-between;

    .sorting {
      background: #ffffff;
      border: 1px solid #d9dfe9;
      padding: 12px 10px 2px;
      border-radius: 5px;
    }
  }
  .cards-container {
    gap: 1rem;
    // margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .community-card {
      width: 48.5%;
      height: "fit-content";
      box-shadow: "0px 0px 16px 0px #0000001A";
    }
    .cards-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .label-counter {
        z-index: 9;
        position: absolute;
        left: 55px;
        top: 55px;
        color: #fff;
        font-size: 12px;
        padding: 0px 4px;
        background: #0074d9;
        border-radius: 50%;
      }
      h6 {
        margin: 0px 8px;
        font-weight: 500;
        font-size: 16px;
        color: #00192f;
      }
    }
    .cards-body {
      color: #54616c;
      font-weight: 400;
      font-size: 14px;
    }
    .community-img {
      border: 0.5px solid #d9dfe9 !important;
    }
  }
  .following-section {
    .head {
      font-size: 16px;
    }
    .custom-border {
      height: 20.6px;
      width: 1.5px;
    }
  }
}

// tab3
.questions-tab-container {
  font-family: "Inter";
  .ant-card-body {
    padding: 20px;
  }
  .search-container {
    display: flex;
    justify-content: space-between;

    .sorting {
      background: #ffffff;
      border: 1px solid #d9dfe9;
      padding: 12px 10px 2px;
      border-radius: 5px;
      font-family: "Inter";
      width: 24%;
      .sortby {
        color: #54616c;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
      .sortingDropdown {
        border: "none";
        background: "transparent";
        color: #001622;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
  .cards-header {
    div {
      display: flex;
      .img {
        height: 50px;
        width: 50px;
      }
      .profile {
        flex-direction: column;
        padding-left: 10px;
        p {
          display: flex;
          .custom-border {
            margin: 5px;
            border-left: 1.5px solid #d9dfe9;
          }
        }
      }
      h5 {
        color: #001622;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0;
      }
      p {
        font-weight: 400;
        font-size: 12px;
        color: #54616c;
      }
    }
    .follow {
      align-items: center;
      .img {
        width: 32px;
        height: 32px;
      }
    }
    .button {
      background-color: #f2f4f7;
      padding: 20px 20px;
      border: none;
      font-weight: 500;
      font-size: 17px;
      color: #0074d9;
      margin-right: 10px;
      line-height: 20px;
      margin-bottom: 0;
    }

    span.anticon-eye {
      font-size: 1.125rem;
      padding: 0 5px;
      cursor: pointer;
      svg {
        color: #0074d9;
      }
    }
    .profile-badge {
      position: absolute;
      width: 20px;
      height: 20px;
      color: #ffffff !important;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 53px;
      top: 54px;
      border: 1.5px solid #ffffff;
      background-color: #0074d9;
      font-weight: 500 !important;
      font-size: 12px !important;
      line-height: 20px;
    }
  }
  .para {
    color: #001622;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0.7rem;
    line-height: 24px;
    margin-bottom: 0.5rem;
  }
  .chips {
    margin: 0.5rem 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    div {
      background-color: #d9dfe9;
      border: 1px solid #d9dfe9;
      padding: 6px 12px;
      font-weight: 500;
      font-size: 12px;
      border-radius: 4px;
      margin-right: 10px;
      margin-bottom: 10px;
      line-height: 16px;
      color: #000000;
    }
    p {
      margin-left: 10px;
      font-weight: 500;
      font-size: 14px;
      color: #0074d9;
      cursor: pointer;
    }
    .custom-border {
      height: 12px;
      margin-left: 10px;
      border: 1px solid #d9dfe9;
    }
    :first-child {
      margin-left: unset;
    }
  }
  .like-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ans {
      border: 1px solid #d9dfe9;
      border-radius: 4px;
      padding: 8px 12px;
      background-color: #f2f4f7;
      display: flex;
      img {
        margin: 5px;
      }
      .ans-text {
        margin-left: 5px;
      }
    }
    .rating {
      display: flex;
      align-items: center;
      border: 1px solid #ebebf0;
      border-radius: 4px;
      img {
        // margin-top: 4px !important;
      }
      div,
      h6 {
        padding: 8px;
      }
      h6 {
        font-weight: 500;
        font-size: 14px;
        color: #54616c;
        padding: 5px;
        margin: 0px;
        display: flex;
        align-items: center;
        p {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #d9dfe9;
          margin: 0px 5px;
        }
      }
      .left-border {
        border-left: 1px solid #d9dfe9;
        padding-left: 10px;
      }
    }
  }
}

// tab4
.levels-tab-container {
  .ant-slider-mark-text{
    color: #000!important;
    font-size: 14px!important;
    padding: 10px!important;
    height: 0px!important;
    // top:10px!important;
  }
  margin: 1rem 0;
  .sliderTitle {
    font-weight: 500;
    font-size: 16px;
    color: #54616c;
    margin: 0px 0px 3rem -10px;
  }
  .slider-container {
    padding: 10px;
    .ant-slider-dot {
      width: 16.48px;
      height: 16.48px;
      line-height: 8px;
      top: -5px;
      background-color: "#0074D9";
    }
    .slider-one .ant-slider-dot {
      display: none;
    }
    .slider-one .ant-slider-mark-text {
      // bottom: 0px;
      bottom: 30px
    }
  }
  .level-calculation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    .custom-border {
      border-left: 1px solid #d9dfe9;
      margin: 2px 10px 6px 10px;
    }
    :first-child {
      p {
        font-weight: 500;
        font-size: 20px;
        color: #0074d9;
        margin-top: 2.5rem;
        margin-bottom: unset;
        span {
          font-weight: 400;
          font-size: 16px;
          color: #001622;
          margin: 3px;
        }
      }
    }
    :last-child {
      display: flex;
      h6 {
        font-weight: 400;
        font-size: 14px;
        color: #54616c;
      }
    }
  }
}

.profile-container {
  .activity-tab-container {
    .cards-container {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      .ant-card {
        background-color: #f2f4f7;
        border-radius: 8px;
        border: 1px solid #d9dfe9;
        cursor: pointer;
      }

      .ant-card-body {
        padding: 16px;

        .cards-header {
          .title {
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 500;
            font-family: "Inter";
            color: #00192f;
            margin-bottom: 0.5rem;
          }
        }

        .cards-content p,
        .post-days p {
          font-size: 0.75rem;
          line-height: 1.125rem;
          font-weight: 400;
          color: #54616c;
          margin-bottom: 0.5rem;
        }

        .cards-content p span {
          color: #001622;
          font-weight: 500;
        }
      }
    }

    .custom-pagination {
      margin-top: 1rem;
    }
  }
}


@media (min-width: 1441px) {
  .edit-profile-modal {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 110%!important;
      height: 46px!important;
      padding: 5px 11px!important;
      margin-top: 7px!important;
    }
  }

  .profile-container .card-header-data .profile-badge {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: auto;
    top: 79px;
    border: 1.5px solid #ffffff;
    background-color: #0074d9;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .para {
    color: #001622;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.7rem;
    line-height: 24px;
    margin-bottom: 0.9rem;
  }
}

//  profile screen for small devices

@media (max-width: 1440px) {
  .edit-profile-modal {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 110%!important;
      height: 46px!important;
      padding: 5px 11px!important;
      margin-top: 7px!important;
    }
  }
  .main-content {
    padding-bottom: 25px;
  }
  .profile-container {
    flex-direction: column-reverse;
    .ant-tabs {
      margin-top: 30px;
    }
    .ant-card-body {
      padding: 15px;
    }
  }
  // sign-out modal
  .ant-modal-footer {
    .sign-out-modal-button {
      padding: 12px 30px;
    }
  }
  // tab1
  .profile-tab-container {
    margin: 0;

    hr {
      display: none;
    }
    .input-container {
      flex-direction: column;
      > :first-child {
        width: 100%;
        margin-right: 0;
        border-bottom: 1px solid #cccccc;
        padding: 1rem 0;
      }
      > :nth-child(2) {
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid #cccccc;
      }
    }
    .delete-container {
      margin-top: 1.5rem;
    }
  }
  //tab5
  .mobile-delete-btn {
    align-items: flex-start;
    position: absolute;
    top: 10px;
    right: -14px;
  }
  // tab2
  .community-tab-container {
    .cards-container {
      gap: 24px;
    }
  }
  .community-detail-wrapper {
    .cards-container {
      // flex-direction: column-reverse;
      .cards-header {
        img {
          width: 40px;
          height: 40px;
        }
        .edit_icon{
          width: 32px;
          height: 32px;
        }
        .profile h5 {
          font-size: 16px;
        }
        .profile p {
          font-size: 10px;
        }
        .button {
          font-size: 12px;
        }
      }
    }
    .search-container {
      // span,
      // input,
      button {
        height: 44px;
        line-height: 44px;
      }
    }
  }

  // font style for small and mid devices
  .questions_font_12px {
    font-size: 12px !important;
  }
  .questions_font_14px {
    font-size: 14px !important;
  }
  .questions_font_10px {
    font-size: 10px !important;
  }
  .questions_font_16px {
    font-size: 16px !important;
  }
  .hide_replies {
    width: auto !important;
    .replies {
      display: none !important;
    }
  }
  .questions_image_48px {
    width: 48px !important;
    height: 48px !important;
  }
  .questions_header {
    margin: 0px !important;
    margin-top: 2rem !important;
  }
  .ask_question_large {
    display: none;
  }
  .ask_question_small {
    width: 100% !important;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .community_top_card_small {
    width: 100% !important;
  }
  .community-tab-container {
    max-width: 100% !important;
  }
  .community_header_tab {
    max-width: 100% !important;
    padding: 0 15px !important;
  }
  .community_search_small {
    width: 92% !important;
  }
  .profile-container .following-section {
    margin-top: 2%;
    justify-content: space-evenly;
  }
  .shorting_icon {
    display: block !important;
  }
  .question_header_card {
    width: 100% !important;
  }
  .profile_first_tab .col-md-3 {
    max-width: 100% !important;
  }
  .profile_first_tab .col-md-9 {
    max-width: 100% !important;
  }
  .first_tab_Space .input-container {
    margin-left: 15px;
  }
  .profile-container .card-header-data .profile-badge {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: auto;
    top: 78px;
    border: 1.5px solid #ffffff;
    background-color: #0074d9;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .para {
    color: #001622;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.7rem;
    line-height: 24px;
    margin-bottom: 0.9rem;
    // scss for large devices
  }
  .best-answer {
    margin: 4px 7px;
  }
}

@media (max-width: 767px) {
  .questions-tab-container .cards-header div h5{
    font-size: 15px!important;
    line-height: 20px!important;
    padding-right: 15px!important;
  }

  .edit-profile-modal {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 110%!important;
      height: 46px!important;
      padding: 5px 11px!important;
      margin-top: 7px!important;
    }
  }
  .ant-slider-mark{
    margin-left: -60px!important;
  }
  .ant-slider-vertical {
    width: 12px;
    height: 100%;
    margin: 6px 10px;
    padding: 2px 79px!important;
    color:white;
  
}
  .ant-slider-rail {
    // width: 150%!important;
    // background-color: rgb(235, 235, 240)!important;
     margin-left: 54px;
  }
  .ant-slider-vertical .ant-slider-mark-text{
    left: -70px!important;
  }
  .ant-slider-vertical .ant-slider-step {
    width: 162px!important;
    height: 160%!important;
    top: 7px!important;

    /* background: rebeccapurple; */
}
  // .ant-slider-vertical .ant-slider-handle{
  //   margin-left: 54px;
  // }
  .ant-slider-vertical .ant-slider-mark {
    top: 0;
    left: 41px!important;
    width: 18px;
    height: 162%!important;
}
.ant-slider-vertical .ant-slider-handle {
  margin-top: -6px;
  margin-left: 7px!important;
  // width: 16px;
  background: blue;
  width: 36px!important;
  height: 35px!important;
}

  .ant-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background-color: #fff;
    border: solid 2px #91d5ff;
    border-radius: 50%;
    box-shadow: 0;
    cursor: pointer;
    // transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    left:56px!important;
}
.ant-slider-dot{
  bottom: 80%;
    transform: translateY(50%);
    width: 25px;
    height: 25px;
    margin-left: -10px;
    color: blue;
    background: blue
}
.ant-slider-vertical .ant-slider-rail {
  width: 16px!important;
  height: 200%!important;
  left: 20px;
  border-radius: 10%;
}

 .verticalSlidertwo{
  margin: left 12px !important;
  padding: 95px!important;
  display: inline-block!important;

 }
 .verticalSliderfirst{
  // position: unset!important;
  display: inline-block!important;
  // display: flow!important;
  // margin-left: 30px;
 }

 .edit-profile-modal .ant-select{
  width: 90%!important;
 }
  .profile-container .card-header-data .profile-badge {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: auto;
    top: 76px;
    border: 1.5px solid #ffffff;
    background-color: #0074d9;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .para {
    color: #001622;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.7rem;
    line-height: 24px;
    margin-bottom: 0.9rem;
  }
  .ant-slider-mark-text{
    text-align: right!important;
  }
  .slider-one .ant-slider-mark-text {
    bottom: 0px;
    font-size: 7px;
   
  }
  .community_search_small {
    width: 85% !important;
  }
}

@media (min-width: 1441px) {
  .edit-profile-modal {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 110%!important;
      height: 46px!important;
      padding: 5px 11px!important;
      margin-top: 7px!important;
    }
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    margin-left:"10px",
  }
  .community_details_header {
    padding: 0;
  }

  .ask_question_small {
    display: none;
  }
  .community_filter_section {
    display: block !important;
  }
  .shorting_icon {
    display: none !important;
  }
  .best-answer {
    margin: 5px 10px;
  }
  // .main-content {
  //   padding-bottom: 25px;
  // }
  // .profile-container {
  //   flex-direction: column-reverse;
  //   .ant-tabs {
  //     margin-top: 30px;
  //   }
  //   .ant-card-body {
  //     padding: 15px;
  //   }
  //   .ant-tabs-tab {
  //     font-size: 16px;
  //     line-height: 28px;
  //     padding: 5px 0;
  //     margin-left: 10px;
  //   }
  // }
  // // sign-out modal
  // .ant-modal-footer {
  //   .sign-out-modal-button {
  //     padding: 12px 30px;
  //   }
  // }
  // tab1

  // .profile-tab-container {
  //   margin: 0;
  //   hr {
  //     display: none;
  //   }
  //   .input-container {
  //     // flex-direction: column;
  //     > :first-child {
  //       width: 100%;
  //       margin-right: 0;
  //       border-bottom: 1px solid #cccccc;
  //       padding: 1.5rem 0;
  //     }
  //     > :nth-child(2) {
  //       width: 100%;
  //       padding: 1rem 0;
  //       border-bottom: 1px solid #cccccc;
  //     }
  //   }
  //   .delete-container {
  //     margin-top: 1.5rem;
  //   }
  // }
  //tab5
  // .mobile-delete-btn {
  //   align-items: flex-start;
  //   position: absolute;
  //   top: 10px;
  //   right: 0;
  // }
  // tab2
  // .community-tab-container {
  //   .cards-container {
  //     gap: 24px;
  //   }
  // }
  // .community-detail-wrapper {
  //   .cards-container {
  //     flex-direction: column-reverse;
  //     .cards-header {
  //       img {
  //         width: 40px;
  //         height: 40px;
  //       }
  //       .profile h5 {
  //         font-size: 16px;
  //       }
  //       .profile p {
  //         font-size: 10px;
  //       }
  //       .button {
  //         font-size: 12px;
  //       }
  //     }
  //   }
  //   .search-container {
  //     // span,
  //     // input,
  //     button {
  //       height: 44px;
  //       line-height: 44px;
  //     }
  //   }
  // }
}
