.react-tooltip-lite {
    color           : #333;
    width           : auto !important;
    box-shadow      : 5px 1px 10px 0px rgba(204, 204, 204, 1);
    border-color    : #F6F6F6;
    background-color: #F6F6F6;
    padding         : 20px;
    margin-top      : 20PX;
    margin-right    : 27px;

    .content {
        width: 200px;

        h5 {
            color: $blue;
        }
    }
}

.react-tooltip-lite-arrow {
    border-color      : #F6F6F6;
    -webkit-box-shadow: -20px 15px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow   : -20px 15px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow        : -20px 15px 50px 0px rgba(0, 0, 0, 0.75);
    margin-left       : 60px !important;
    margin-top        : 20PX !important;
}