.researchs-section {
  // background-color: $bodyBackgroundColor;
  background-color: #ffffff;
  .research-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
    flex-direction: column;
    .tags {
      width: 100%;
      white-space: pre-line;
    }
    .admin-text {
      // color: $backgroundColor;
      color: #54616c;
      font: "12px";
      font-weight: 300;
      font-size: 12px;
    }
    .profile-icons {
      object-fit: contain;
      margin: 0px 10px 0px 20px;
    }
    .profile-icons:first-child {
      object-fit: contain;
      margin: 0px 10px 0px 0px;
    }
    .research-card {
      border-radius: 10px;
      width: 100%;
      height: 480px;
      border: 0;
      // height: 547px;
    }
    .ant-card-hoverable:hover {
      border-color: transparent;
      box-shadow: none !important;
    }
    .card-heading {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      // color: $textBlack;
      text-transform: uppercase;
      width: max-content;
      color: #0074d9;
      padding: 8px 10px;
      border: 1px solid #005dd4;
      border-radius: 5px;
      background-color: #e8f3fd;
    }
    .ant-card-body {
      padding: 24px;
      padding-left: 0;
    }
    .researchs-card-body {
      font-weight: 500;
      font-size: 20px;
      font-family: "Inter";
      line-height: 26px;
      min-height: 50px;
      opacity: 0.8;
      padding: 0px;
      color: #00192f;
    }
    .read-more {
      position: absolute;
      bottom: 20px;
      font-weight: 600;
      font-size: 16px;
      color: $textBlack;
    }
    .recent-header-text {
      font-size: 14px;
      font-weight: 600;
    }
    .recent-body-text {
      font-size: 14px;
      font-weight: 400;
    }
    .div-one {
      padding: 15px;
      width: 30%;
      background-color: #ffffff;
      border-radius: 10px;
    }
    .recent-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    .second-div {
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 10px;
      margin-left: 12px;
      width: 100%;
      align-content: baseline;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .search-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      line-height: 50px;
      border: 1px solid $textBlack;
      border-radius: 20px;
      padding: 3px 5px;
      margin: 20px 0px;
      p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
        color: $textBlack;
        margin: 0px;
        padding: 0px;
      }
    }
    .tags {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: center;
      border: 1px solid #000;
      border-radius: 100px;
      padding: 7px 16px 7px 16px;
      margin: 0px 10px;
    }
    .ant-tag-checkable-checked {
      background-color: $backgroundColor;
      color: $textColor;
    }
    .ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
      color: unset;
    }
  }
}

.latest-research {
  p {
    padding: 0;
    margin: 0;
  }
  margin: 4rem 0 1rem 0;
  .title-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;

    .title {
      color: #54616c;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      &.bg {
        color: $themeSecondary;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .view-more {
      color: $themeSecondary;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .research-section {
    .slick-slider {
      .slick-next {
        right: 10px !important;
      }
      .slick-prev {
        left: -5px !important;
        z-index: 1;
      }
      .slick-next::before {
        color: #0074d9;
        opacity: 1 !important;
        font-size: 35px;
      }
      .slick-prev::before {
        color: #0074d9;
        opacity: 1 !important;
        font-size: 35px;
      }
      .slick-dots {
        margin-top: 1rem;
        bottom: -3rem;
      }

      .slick-dots li button:before {
        color: #0074d9;
        font-size: 12px;
        margin-top: -3px;
        opacity: 1;
        &.slick-active {
          content: "";
        }
      }

      .slick-dots li.slick-active {
        width: 2rem;
        height: 0.75rem;
        border-radius: 1000px;
        background-color: #0074d9;
      }
    }
    color: #00192f;
    position: relative;
    .research-list,
    .showHoverClass {
      // width: 33.33%;
      .research-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        // justify-content: space-between;
        border: 2px solid #d9dfe9;
        border-radius: 8px;
        position: relative;

        .content-section {
          height: 100%;
        }

        img {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          width: 100%;
          height: 250px;
          object-fit: cover;
          transition: transform 0.5s ease;
        }
        .ant-image {
          width: 100%;
          overflow: hidden;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }

        .research-category {
          position: absolute;
          top: 0;
          padding: 4px 6px;
          border-radius: 4px;
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 1.125rem;
          color: #ffffff;
          background: rgba(#000000, 0.5);
          margin-left: 0.75em;
          margin-top: 0.75em;
        }

        .category {
          border-radius: 4px;
          border: 1px solid $backgroundColor;
          color: $backgroundColor;
          padding: 4px 6px;
          width: fit-content;
          margin: 1rem 0;
          &.bg {
            background-color: rgba($backgroundColor, 0.2);
          }
        }

        .research-heading {
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 2rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          min-height: 4.5rem;
        }

        .research-detail {
          font-weight: 400;
          font-size: 14px;
          font-family: "Inter";
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          min-height: 2.8rem;
        }

        .date-section {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: #54616c;
          margin-top: 1rem;
          font-size: 12px;
          font-family: "Inter";
          position: relative;
          .date {
            line-height: 18px;
            font-weight: 400;
          }

          .time {
            padding: 0 5px;
            // border-left: 1.5px solid #54616c;
          }
        }
      }
    }

    .view-more-icon {
      border: 2px solid #ffffff;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $themeSecondary;
      cursor: pointer;
      .anticon-arrow-right {
        font-size: 1rem;
        font-weight: bolder;
        color: #ffffff;
      }
    }
  }
  :hover {
    .showHoverClass img {
      transform: scale(1.15);
    }
  }
}

.research-list-section {
  .results {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    color: #54616c;
  }

  .sorting {
    padding: 10px;
    border: 1px solid #d9dfe9;
    border-radius: 2px;

    .sortby {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 20px;
      color: #54616c;
    }

    select {
      color: #001622;
      padding: 0 5px;
    }
  }
  .research-section {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    gap: 1.5rem;
    width: 100%;

    .research-list .research-card {
      .content-sections {
        .research-detail {
          -webkit-line-clamp: 2;
        }
       
      }
    }
  }
}

.research-detail-section {
  .research-detail-heading {
    border: 1px solid #ebebf0;
    padding: 32px 64px 32px 32px;
    background-color: #f2f4f7;
    border-radius: 11px;
    margin-bottom: 1.5rem;

    .title {
      font-weight: 500;
      font-size: 2.5em;
      line-height: 48px;
      color: #0074d9;
    }

    .date-section {
      margin-top: 2em;
      display: flex;
      font-family: "Inter";
      align-items: center;
      justify-content: flex-start;
      color: #54616c;
      font-size: 12px;

      .share-btn,
      .save-btn {
        display: flex;
        align-items: center;
        column-gap: 5px;
        cursor: pointer;
      }

      .save-btn {
        color: $themeSecondary;
      }
    }
  }
  .research-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .research-content-section {
      width: 67%;
    }

    .download-report-card {
      padding: 1.5em;
      border-radius: 16px;
      border: 1px solid #e5e7eb;
      margin-bottom: 1.5rem;
      .heading {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 32px;
        color: #00192f;
      }

      .content {
        margin: 0;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
        color: #54616c;
        font-family: "Inter";
        font-family: 400;
      }

      .custom-btn {
        width: 100%;
      }
    }

    .related-research-section {
      width: 30%;
      .heading {
        font-weight: 500;
        font-size: 1.5em;
        line-height: 32px;
        color: #001622;
      }

      .related-research-wrapper {
        display: grid;
        row-gap: 1em;
      }

      .research-card {
        .content-sections {
          .research-heading {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            min-height: auto;
          }

          .research-detail {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .date-section {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

.market-research-category-card {
  border-radius: 8px;
}

.market-research-category-card-body {
  border-radius: inherit;
  padding: 1em;
  background-color: rgba(#000000, 0.7);
  min-width: 220px;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heading {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }

  .description {
    font-weight: 400;
    font-size: 0.875em;
    line-height: 20px;
    text-align: center;
    color: #e0e0e0;
  }
}

@media (min-width: 1441px) {
  .research-section {
    margin: 0 -10px;
  }
}

//Mobile
@media (max-width: 767px) {
  .main-content.researchs {
    min-height: 100vh;
    padding-bottom: 190px !important;
  }
  .researchs-section {
    .page-banner .banner-bg .banner-container {
      padding: 2rem 0;
      .banner-image-container {
        display: none;
      }
    }

    .research-container {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      .div-one {
        width: 100%;
      }
      .second-div {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        .research-card {
          width: 100%;
          height: auto;
          .ant-card-cover {
            img {
              height: 150px;
            }
          }
          .ant-card-body {
            p.card-heading {
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 4rem;
            }
            p.researchs-card-body {
              display: none;
            }

            .read-more {
              padding: 0;
            }
          }
        }
      }
    }
  }

  .market-research-portal-section {
    .page-banner {
      .container,
      .banner-container {
        height: 100%;
      }

      .banner-container {
        display: flex;
        align-items: flex-end;
        padding-bottom: 2rem !important;
        justify-content: center;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }

      .banner-title-container {
        width: 100%;
      }
    }

    // .latest-research {
    //   .view-more {
    //     display: none;
    //   }
    // }

    .market-research-category-card-body {
      min-width: unset;

      .heading {
        font-size: 1em;
      }
    }
  }

  .latest-research {
    margin: 2rem 0 1rem 0;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
  }

  .research-list-section {
    .research-section {
      display: flex;
      flex-direction: column;
    }
  }

  .research-detail-section {
    .research-detail-heading {
      padding: 16px;
      .title {
        line-height: 34px;
        font-size: 1.75rem;
        font-family: "Poppins", sans-serif;
      }
    }

    .research-content-wrapper {
      flex-direction: column;

      .research-content-section,
      .related-research-section {
        width: 100%;

        .heading {
          line-height: 30px;
          font-size: 1.25rem;
        }
      }

      .download-report-card {
        .heading {
          line-height: 30px;
          font-size: 1.25rem;
        }
      }
    }

    .related-research-section {
      margin-top: 4rem;
    }
  }
}

//Tablet
@media (min-width: 768px) and (max-width: 1440px) {
  .main-content.researchs {
    min-height: 100vh;
    padding-bottom: 190px !important;
  }
  
  .research-section {
    margin-left: -15px;
    margin-right: -10px;
    .page-banner .banner-bg .banner-container {
      padding: 2rem 0;
      .banner-image-container {
        display: none;
      }
    }

    .research-container {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      .div-one {
        width: 100%;
      }
      .second-div {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        .research-card {
          width: 100%;
          height: auto;
          .ant-card-cover {
            img {
              height: 150px;
            }
          }
          .ant-card-body {
            p.card-heading {
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 4rem;
            }
            p.researchs-card-body {
              display: none;
            }

            .read-more {
              padding: 0;
            }
          }
        }
      }
    }
  }

  .market-research-portal-section {
    .page-banner {
      .container,
      .banner-container {
        height: 100%;
      }

      .banner-container {
        display: flex;
        align-items: flex-end;
        padding-bottom: 2rem !important;
        justify-content: center;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }

      .banner-title-container {
        width: 100%;
      }
    }

    // .latest-research {
    //   .view-more {
    //     display: none;
    //   }
    // }

    .market-research-category-card-body {
      min-width: unset;

      .heading {
        font-size: 1em;
      }
    }
  }

  .latest-research {
    margin: 2rem 0 1rem 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .research-list-section {
    .research-section {
      //display: flex;
      //flex-direction: column;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 1.5rem;
      width: 100%;
      
    }
  }

  .research-detail-section {
    .research-detail-heading {
      padding: 16px;
      .title {
        line-height: 34px;
        font-size: 1.75rem;
        font-family: "Poppins", sans-serif;
      }
    }

    .research-content-wrapper {
      flex-direction: column;

      .research-content-section,
      .related-research-section {
        width: 100%;

        .heading {
          line-height: 30px;
          font-size: 1.25rem;
        }
      }

      .download-report-card {
        .heading {
          line-height: 30px;
          font-size: 1.25rem;
        }
      }
    }

    .related-research-section {
      margin-top: 4rem;
    }
  }
}
