.step-progress {
    margin-bottom: 50px;

    .step-button-wrapper {
        margin    : 45px 0;
        text-align: left;
    }

    .nav-tabs {
        border-bottom: none !important;
    }

    .nav-tabs .nav-item {
        margin-bottom: -1px;
    }

    .nav-tabs .nav-link {
        border-top             : 5px #ccc solid !important;
        border-right           : none !important;
        border-left            : none !important;
        border-bottom          : none !important;
        border-top-left-radius : 0 !important;
        border-top-right-radius: 0 !important;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color           : #495057;
        background-color: transparent !important;
        border-top      : 5px $lightBlack solid !important;
    }

    .nav-tabs .nav-link.done {
        color           : #419144;
        background-color: transparent !important;
        border-top      : 5px #419144 solid !important;
    }
}