.trending-category-below {
  width: 100%;
  position: relative;
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .question-card {
    background-color: #f2f4f7;
    border: 1px solid #ebebf0;
    border-radius: 8px;
    padding: 16px;
    min-height: 272px;

    .question-card-body {
      .question-profile-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0.5rem;

        .ant-image img {
          width: 48px;
          height: 48px;
          border-radius: 8px;
          padding: 2px 4px;
          margin-right: 0.875rem;
        }

        .profile-wrapper {
          h6 {
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1.75rem;
            color: #001622;
            // font-family: "Inter", sans-serif;;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          p {
            margin-bottom: 0;
            color: #54616c;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 1.125rem;
          }
        }
        .profile-wrapper-news {
          h6 {
            font-weight: 500;
            font-size: 1.115rem;
            line-height: 1.45rem;
            color: #001622;
            // font-family: "Inter", sans-serif;;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          p {
            margin-bottom: 0;
            color: #54616c;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 1.125rem;
          }
        }
      }

      .question-description {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: "Inter", sans-serif;
        color: #001622;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 4.5rem;
      }

      .question-tag-wrapper {
        display: grid;
        gap: 0.5rem;
        justify-content: flex-start;
        .question-tag {
          background-color: #fff;
          padding: 6px 12px;
          border-radius: 4px;
          border: 1px solid #d9dfe9;
        }
      }
    }

    .answer-btn {
      width: 100%;
      border-radius: 2px;
      padding: 6px 0;
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  //rated/community card css
  .community-card {
    background-color: #ffffff;
    border: 1px solid #ebebf0;
    border-radius: 8px;
    min-height: 254px;

    .community-card-header {
      width: 100%;
      height: 96px;
      background-color: #ebebf0;
      padding: 16px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 12px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .community-title-header {
        max-width: 80%;
        h5 {
          font-family: "Poppins", sans-serif;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          margin-bottom: 0;
        }
      }
    }
    .community-card-material {
      height: 158px;
      padding: 12px 16px !important;
      overflow: hidden;

      .card-description-texts {
        font-size: 14px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }

      .card-review {
        position: absolute;
        bottom: 12px;
        font-size: 12px;
        font-family: "Inter", sans-serif;
        line-height: 18px;
      }
    }
  }

  .category-banner-wrapper {
    .slick-slider .slick-list .slick-track {
      gap: 1rem;
      display: flex;
    }
  }
}

.trending-question {
  p {
    padding: 0;
    margin: 0;
  }
  margin: 4rem 0 1rem 0;
  .title-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;

    .title {
      color: #54616c;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      &.bg {
        color: $themeSecondary;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .view-more {
      color: $themeSecondary;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media (min-width: 1441px) {
  .trending-category-below .category-box .category-banner-wrapper {
    margin: 0 -10px;
    .view-more-arrow {
      // margin-top: 9% !important;
    }
  }
}

//Mobile and tablet
@media (max-width: 1440) {
  .trending-category-below {
    .question-card {
      .question-card-body {
        .question-profile-section {
          .ant-image img {
            width: 44px;
            height: 44px;
          }
        }
      }
    }
  }
}

//Mobile
@media (max-width: 767px) {
  .trending-category-below {
    .question-card {
      .question-card-body {
        .question-profile-section {
          .ant-image img {
            width: 40px;
            height: 40px;
          }

          .profile-wrapper {
            h6 {
              font-size: 1rem;
              line-height: 1.5rem;
            }
            p {
              font-size: 0.625rem;
              line-height: 1.125rem;
            }
          }
          .profile-wrapper-news {
            h6 {
              font-size: 1rem;
              line-height: 1.5rem;
            }
            p {
              font-size: 0.625rem;
              line-height: 1.125rem;
            }
          }
        }

        .question-description {
          font-size: 0.875rem;
          line-height: 1.125rem;
        }

        .question-tag-wrapper {
          display: grid;
          gap: 0.5rem;
          justify-content: flex-start;
          .question-tag {
            background-color: #fff;
            padding: 6px 12px;
            border-radius: 4px;
            border: 1px solid #d9dfe9;
            // font-size: 0.625rem;
            // line-height: 1.125rem;
            color: #000000;
          }
        }
      }
    }

    .answer-btn {
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  .category-banner-wrapper .slick-slider .slick-list .slick-track {
    gap: 1rem;
    display: flex;
  }
}

//Tablet
@media (min-width: 768px) and (max-width: 1440px) {
  .trending-category-below {
    .category-box .category-banner-wrapper {
      margin-left: -10px;
      margin-right: -5px;
    }
    .view-more-arrow {
      // margin-top: 12% !important;
    }
  }
}

/* ----------- iPad Pro ----------- */ /* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}
/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
