.trending-category-below {
  width: 100%;
  // margin-bottom: 4rem;
  height: 350px;

  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .category-box {
    position: relative;
    height: 320px;
    display: flex;

    h5 {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0.24px;
      color: $black;
      line-height: 26px;
      margin-bottom: 20px;
      overflow: hidden;
    }

    .category-banner-wrapper {
      // display: -webkit-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      > :not(:first-child) {
        margin-left: 20px;
      }
    }

    .category-banner-block {
      width: 100%;
      height: 280px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      .category-banner-block:hover .category-hover {
        opacity: 1;
        visibility: visible;
      }

      .category-banner {
        width: 100%;
        height: 280px;
        background: #f2f4f7;
        padding: 0px;
        border-radius: 12px;
        position: relative;
        display: table;
        // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
        // box-shadow: 0 5px 10px 0 #f0f3f6;
        // box-shadow: 0 5px 10px 0 #c2c2c2;
        border: 0.5px solid #d9dfe9;
        //   background-color: #ebebeb !important;
        transition: all 0.4s ease-out;

        .custom-icon {
          background-color: unset;
          width: 102px;
          height: 88px;
          min-width: 102px;
          min-height: 68px;
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .category-hover {
          //   background-color: $backgroundColor;
          background-color: transparent;
          position: absolute;
          width: 100%;
          top: 70px;
          left: 0;
          right: 0;
          padding: 1rem;
          z-index: 1;
          opacity: 0;
          // width: 210px;
          min-height: 327px;
          // height: 327px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          visibility: hidden;
          border-radius: 24px;
          transition: all 0.4s ease-out;
          transition: opacity 0.4s ease-out;

          p {
            margin: 15px 0;
            color: $white;
            font-size: 12px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease-out;
          }

          h6 {
            // text-align: right;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease-out;
            margin-bottom: 0;

            br {
              display: none;
            }
          }
          ul {
            // margin-top: 12px;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            line-height: 22px;
            color: #fff;
            margin-left: 12px;
            li {
              list-style: disc;
              transition: all 0.4s ease-out;
            }
            li:last-child {
              padding-bottom: 40px !important;
            }
          }
        }
        .content-head {
          width: 100%;
          height: 80px;
          padding: 20px;
          padding-top: 26px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          align-items: center;
        }
        .category-img {
          // display: table-cell;
          // vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.4s ease-in-out;
          width: 50px;
          height: 45px;
          background-color: #fff;
          border-radius: 6px;
        }

        > .category-content {
          // display: table-cell;
          // vertical-align: middle;
          cursor: pointer;
          // text-align: center;
          min-height: 272px;
          // padding: 1rem;
          border-radius: inherit;
          background: #f2f4f7;

          .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $backgroundColor;
            width: 40px;
            height: 40px;
            border-radius: 12px;
          }
          .category-text {
            flex-grow: 1;
            overflow: hidden;
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            line-height: 30px;
            color: #00192f;
            padding-right: 12px;
            align-items: flex-start;
            padding-left: 12px;
            width: 100%;
          }
          h6 {
            font-size: 18px;
            font-weight: 500;
            color: #001622;
            margin: 0;
          }
          p {
            color: #54616c;
            font-size: 12px;
            font-weight: 400;
            margin: 0;
          }
          .content-x {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            width: 100%;
          }
          .card-trend-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
            padding-top: 0px;
          }
          .card-text {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 14px;
            font-family: "Inter";
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #001622;
          }
          .design-content {
            p {
              background-color: #ffffff;
              padding: 6px 12px;
              margin: 0 6px;
              font-size: 11px;
              font-weight: 500;
              color: #000;
              border: 1px solid #d9dfe9;
              border-radius: 4px;
              text-transform: uppercase;
            }
            :first-child {
              margin-left: 0;
            }
          }
          .experience-content {
            padding-left: 10px;
            p {
              background-color: #fff;
              padding: 6px 10px;
              font-size: 12px;
              font-weight: 500;
              color: #000;
              border: 1px solid #f2f4f7;
              border-radius: 6px;
              text-transform: uppercase;
            }
          }
          .learn-more-btn {
            // background: rgba(228, 228, 228, 0.49776);
            // border-radius: 16px;
            //display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            // gap: 10px;
            width: 100%;
            height: 50px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            position: absolute;
            bottom: 1rem;
            text-align: center;
            transition: all 0.4s ease-out;
            // border-top: 1px dashed rgb(199, 199, 199);
            // border-width: 6px;
            .btn-text {
              color: #ffffff;
              background-color: #0074d9;
              // border: 1px solid #0065d8;
              width: 100%;
              font-size: 16px;
              padding: 8px;
              border-radius: 2px;
              font-weight: 500;
            }
          }
          .custom-icon {
            width: 70px;
            min-width: 48px;
            height: 70px;
            min-height: 48px;

            > span svg {
              height: 45px;
              width: 45px;
            }
          }
        }
      }
    }

    .research-category {
      justify-content: unset;
      > :not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}

.category-container {
  // width: 70%;
  margin-top: 42px;

  .card {
    // min-height: 14rem;
    padding: 1rem;
    width: 400px;
    // height: 250px;

    .custom-icon {
      width: 62px;
      min-width: 62px;
      height: 62px;
      min-height: 62px;
    }

    .custom-btn {
      bottom: 1rem;
    }
    .text {
      margin-bottom: 5rem;
    }
  }
}
@media (min-width: 576px) {
  .category-below {
    .category-box {
      .category-banner-block {
        .category-banner {
          &:hover {
            height: 0;
            border-bottom: none !important;
            margin-top: -80px;
            padding: 0;

            > .category-content {
              position: absolute;
              opacity: 0;
              visibility: hidden;
              height: 0;

              .icon-container {
                background-color: #fff;
              }
              .custom-icon {
                width: 260px;
                min-width: 260px;
              }
            }

            .category-hover {
              opacity: 1;
              visibility: visible;

              .category-hover-content {
                display: flex;
                flex-direction: column;

                > ul {
                  padding: 12px 10px;
                }

                .learn-more-btn {
                  background: #fff;
                  border-radius: 16px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  padding: 10px;
                  gap: 10px;
                  width: 140px;
                  height: 50px;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 20px;
                  color: #11142d;
                  position: absolute;
                  bottom: 1rem;
                }
              }

              .category-content {
                padding: 0;
                h6 {
                  margin-top: 12px;
                  color: $white;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                }
              }

              h6,
              p {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .trending-category-below {
  width: 100%;
  height: 320px;

  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .category-box {
    height: 315px;
  }
}
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #0074D9 !important;
    opacity: 0.5 !important;
    transition: all 0.3s ease;
  }

  .swiper-pagination-bullet-active {
     width: 25px !important;
    height: 10px !important;
    border-radius: 25% !important;
    transition: all 0.3s ease;
    background-color: #0074D9;
    opacity: 1 !important;
  }
  .category-below {
    // margin-bottom: 1rem;
    .category-box {
       height: 320px !important;
      .category-banner-wrapper {
        // display: -webkit-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 18px;
        flex-direction: row;
        justify-content: center;
        // width: 100%;
        > :not(:first-child) {
          margin-left: 0;
        }

        .category-banner-block {
          // width: 100%;
          width: auto;
          height: 215px;

          .category-banner {
            height: 100%;
            > .category-content {
              min-height: auto;
              padding: 10px;
              h6 {
                font-size: 14px;
                line-height: 18px;
              }

              .learn-more-btn {
                padding: 11px 1rem;
                width: auto;
                height: auto;
                font-weight: 500;
                bottom: 1rem;
              }
              .custom-icon {
                width: 62px;
                min-width: 62px;
                height: 62px;
                min-height: 62px;

                > span svg {
                  height: 40px;
                  width: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

  .category-container {
    div.ant-space {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 18px !important;
    }

    .card {
      width: auto;
      height: 220px;

      h6.text {
        display: none;
      }

      .custom-btn {
        position: absolute;
        bottom: 1rem;
        padding: 12px;
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
  .swiper-pagination {
    bottom: 0px !important;
  }
}
