$lightBlack: #333;
$black: #272727;
$white: #ffffff;
$light: #ccc;
$blue: #191970;
$navyBlue: #1890ff;
$lightBlue: #d9e6fc;
$danger: #da4c30;
$success: #30da71;
$dark: #292929;
$lightTow: #efefef;
$gray: rgba(228, 228, 228, 0.5);
$blackTwo: #000000;
$grey: #70798b;

// $backgroundColor: #1890ff;
$bodyBackgroundColor: #f5f5f5;
$backgroundColor: #075aee;
// $backgroundColor: #e04bb6;
// $backgroundColor: green;
$bodyBackgroundColor: #f5f5f5;
$backgroundColorLight: rgba(13, 153, 255, 0.1);
$textColor: #fff;
$textBlack: #000000;
// $textColorTwo: #0d99ff;
$textColorTwo: #075aee;
$footerBackground: #000000;
$footerTextColor: #ffffff;

$swiper-navigation-size: 40px;
