.booked-container {
  .show-more {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* or any other value */
  }
  .show-more:hover {
    white-space: normal;
    overflow: visible;
  }
  .show-more-skill {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    text-overflow: ellipsis;
    max-width: 200px; /* or any other value */
  }
  .show-more-skill:hover {
    white-space: normal;
    display: unset;
    overflow: visible;
  }

  .payment-table .dataRow {
    align-items: baseline;
  }
  .scroll-container {
    display: flex;
    overflow-x: scroll;
  }
  .scroll-child:first-child {
    border: none;
  }
  .scroll-child {
    padding: 0px 10px;
    border-left: 1px solid #333;
    margin-top: 5px;
  }
  ::-webkit-scrollbar {
    max-height: 2px;
  }
}
