.HeaderBreadcrumb {
    .breadcrumb {
        background-color: transparent;
        position        : relative;
        margin-bottom   : 3rem;

        .breadcrumb-item+.breadcrumb-item {
            margin-top: 45px;
        }

        .breadcrumb-item+.breadcrumb-item::before {
            font-weight: 600;
            margin-top : 25px;
        }

        .breadcrumb-item {
            h1 {
                font-weight: 300;
                width      : 400px
            }

            h2,
            h3 {
                font-size  : 20px;
                font-weight: 300;
                margin-top : -25px;
                margin-left: 15px;
            }
        }
    }
}