.consultant-details {
  //   background-color: red;
  width: 85%;
  margin: 0px auto;
  .profile-container {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    > div {
      border: 1px solid #000;
      width: 50%;
      height: auto;
      padding: 10px;
      border-radius: 10px;
    }
  }
  .heading {
    text-transform: capitalize;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #272727;
  }
  .profile-text {
    color: #414146;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 20px;
  }
  .profile-container-div1 {
    margin-left: 30px;
    p {
      margin: 0px;
      color: #414146;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 3px;
    }
  }
  .profile-container-div2 {
    margin-left: 20px;
    li {
      background-color: rgb(229, 231, 235 / 1);
      color: #000;
      padding: 5px;
      margin: 5px;
      border-radius: 10px;
      // margin: 10px 4px;
      text-transform: capitalize;
      white-space: nowrap;
      // border: 1px solid #000;
    }
    // }
  }
  .work-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    .div1 {
      border: 1px solid #333;
      width: 50%;
      min-height: 150px;
      border-radius: 10px;
      padding: 10px;
      flex-direction: column;
    }
    .div2 {
      margin-left: 20px;
      border: 1px solid #333;
      width: 50%;
      min-height: 150px;
      border-radius: 10px;
      padding: 10px;
    }
  }
  .booking-container {
    // display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #000;
    // height: 350px;
    padding: 10px;
    border-radius: 10px;
    // margin: 0px 20px;
    // div {
    //   // margin-left: 20px;
    // }
    .slot-container {
      display: flex;
      // justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 50px;
      div {
        border: 1px solid #000;
        // width: 50%;
        // height: 50px;
        padding: 10px;
        border-radius: 10px;
        // margin: 10px 0px;
        // width: 200px;
      }
    }
    .button-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-right: 20px;
      margin-top: 200px;
      Button {
        border: 1px solid #000;
        padding: 15px 30px;
      }
    }
  }
  .ant-picker {
    color: #000 !important;
  }
  .noneButton {
    opacity: 0;
    pointer-events: none;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
  }
  .ant-carousel .slick-dots {
    margin: 0px;
    bottom: 5px;
  }
  .workContainer {
    display: flex !important;
    align-items: center !important;
    margin: 20px 0px;
    justify-content: center !important;
    div p {
      margin: 0px;
      padding: 0px;
    }
    .work-company {
      font-size: 16px;
      width: 100%;
    }
  }
  .ant-carousel .slick-dots {
    position: unset !important;
  }
  .ant-carousel .slick-dots li button {
    background-color: #333;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background-color: #000;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-picker {
    padding: 5px 11px;
    height: 40px;
  }
  .ant-picker-input input::placeholder,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: #333 !important;
  }
}

// resposive web design

@media (max-width: 480px) {
  .consultant-details {
    width: 100%;
    .profile-container {
      flex-direction: column;
      > div {
        width: 100%;
      }
    }
    .profile-container-div2 {
      margin-top: 20px;
      margin-left: 0px;
    }
    .work-container {
      flex-direction: column;
      .div1 {
        width: 100%;
      }
      .div2 {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
      }
    }
    .workContainer {
      .work-company {
        font-size: 15px;
        width: 90%;
      }
    }
    .ant-carousel {
      width: 90%;
    }
    .ant-picker {
      width: 100%;
    }
    .button-container {
      flex-direction: column;
      margin-top: 0px !important;
      Button {
        padding: 10px 30px !important;
        margin-top: 10px !important;
      }
    }
    .slot-container {
      margin-top: 25px !important;
    }
    .space-selector {
      margin-top: 15px;
    }
  }
}
