.consultantCard {
  // padding: 50px;
  // box-shadow: 1px 1px 5px 1px #333;
  div p {
    padding: 0px;
    margin: 5px;
  }
  .ant-card-body {
    padding: 15px;
  }
  //   Button {
  //     font-weight: 400;
  //     // margin-bottom: 20px;
  //     // padding: 10px 30px;
  //     background-color: transparent;
  //     color: #333;
  //     border: 0.5px solid #000;
  //     text-transform: uppercase;
  //   }
  //   Button:hover,
  //   Button:focus {
  //     background-color: #333;
  //     color: #fff;
  //   }
  .name {
    font-size: 20px;
    color: #414146;
    font-weight: 500;
  }
  .proffession {
    // color: #787887;
    color: #414146;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 20px;
    min-height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .proffession:hover {
    -webkit-line-clamp: unset;
  }

  .region {
    // color: #414146;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    font-size: 0.75rem;
    margin-top: -5px;
  }
  .region span {
    margin: 0px 5px 0px 1px;
  }
  .rate-card {
    font-size: 1.3rem;
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    font-weight: 700;
  }
  .button,
  .messageBtn {
    font-weight: 400;
    background-color: #333;
    color: #fff;
    border: 0.5px solid #000;
    text-transform: uppercase;
    width: 100%;
    line-height: 30px;
    border: none;
    font-size: 12px;
  }
  .button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .button:hover,
  .button:focus {
    // background-color: #fff;
    // color: #000;
    opacity: 0.6;
  }
  .messageBtn {
    background-color: #f3f4f6;
    color: #333;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .messageBtn:hover,
  .messageBtn:focus {
    background-color: rgb(229, 231, 235 / 1);
    // color: #fff;
    opacity: 0.6;
  }
  .ant-card-body {
    padding: 0px;
  }

  // new code
  ul {
    // display: flex;
    // align-items: center;
    // width: 100%;
    // overflow-x: scroll;
    // scroll-behavior: smooth;
    // margin: 15px 0px 20px 0px;
    &::-webkit-scrollbar {
      background: transparent;
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
    li {
      background-color: rgb(229, 231, 235 / 1);
      color: #000;
      padding: 5px;
      border-radius: 10px;
      margin: 0px 4px;
      white-space: wrap;
    }
  }

  .sliderContanier {
    // font-family: sans-serif;
    // text-align: center;
    // width: 600px;
    // height: 100vh;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .anticon {
      // margin: 0px;
      border: 0;
      color: #777;
      font-size: 16px;
      // box-shadow: 10px #fff;
      // margin: 0 8px;
    }
    ul {
      display: flex;
      align-items: center;
      width: 300px;
      overflow-x: scroll;
      scroll-behavior: smooth;
      // margin: 15px 0px 30px 0px;
      &::-webkit-scrollbar {
        background: transparent;
        -webkit-appearance: none;
        width: 0;
        height: 0;
      }
      li {
        background-color: rgb(229, 231, 235 / 1);
        color: #000;
        padding: 5px 16px;
        border-radius: 10px;
        margin: 0 4px;
        white-space: nowrap;
      }
    }
  }
  .noneButton {
    opacity: 0;
    pointer-events: none;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
  }
  .ant-carousel .slick-dots {
    margin: 0px;
    bottom: 5px;
  }
  .workContainer {
    display: flex !important;
    align-items: center !important;
    // height: 60px;
    // margin-top: -10px;
    // height: auto !important;
    // background-color: red;
    // div,
    // image {
    //   // margin-left: 15px;
    // }
    div p {
      margin: 0px;
      padding: 0px;
    }
  }
  .ant-carousel .slick-dots {
    position: unset !important;
    // margin-top: 2px;
  }
  .ant-carousel .slick-dots li button {
    background-color: #333;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background-color: #000;
  }
}

// resposive web design

@media (max-width: 480px) {
  .consultantCard {
    .ant-carousel {
      width: 90%;
    }
  }
}
