.consultantContainer {
  //   background-color: green;
  .ant-pagination {
    display: flex;
    justify-content: right;
    margin-top: 50px;
  }
  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 50px 0px;
    flex-wrap: wrap;
  }
  .ant-space-vertical {
    width: 250px !important;
  }
  .ant-select-selection-placeholder {
    color: #000;
  }
  .card-container {
    display: grid;
    // justifyContent: isBrowser ? "space-between" : "center",
    // flexWrap: "wrap",
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
  }
  // .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
  //   color: #000;
  // }
}

// resposive web design

@media (max-width: 480px) {
  .consultantContainer {
    .card-container {
      grid-template-columns: unset;
      grid-template-rows: unset;
    }
    .ant-space-vertical {
      width: 100% !important;
      margin-top: 10px;
    }
  }
}
