.consultant-chat-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
  }
  .userprofile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .scroll-container {
    overflow-y: scroll;
    background: #fff;
    margin: 15px;
    padding: 10px;
    max-height: 250px;
    display: flex;
    flex-direction: column-reverse;
  }
  .flex-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .chat-rendering-section {
    padding: 8px;
    border-radius: 10px;
    font-weight: 500;
    width: fit-content;
    margin-top: 5px;
    max-width: 70%;
  }
  .input-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }
  Input {
    min-height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    flex: 1;
  }
  Button {
    padding: 10px 30px;
  }
}

@media (max-width: 480px) {
  .consultant-chat-container {
    margin-top: 5px;
    width: 100%;
    .scroll-container {
      max-height: 100%;
    }
  }
}
