.documentListContainer {
    .itmap-datatable {
        .table {
            display: inline-grid;
            // justify-content: center;
            .icon {
                color     : #ff9b3b;
                width     : 50%;                
            }

            tr {
                th {
                    // border       : none;
                    // border-bottom: 1px solid $lightBlack;
                    // color        : $light;
                    color: #685e68;
                    padding: 1rem;
                    font-size: 1rem;
                    font-weight: 400;
                }
                
            }

            tbody{
                // width: 93vw;

             tr td{
                padding: 0;
            }
        }
            
        }
    }

    
}

.documentSearchPanel{
    display: flex;
    justify-content: left;
    // padding: 20px 0;
    margin-bottom: 30px;
}

.productTable tbody tr:hover{
transform: scale(1.009);
transition: 0.5s;
background-color: rgb(239, 241, 241);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
 
}


.itmap-datatable {
    padding-bottom: 50px;

    .table {
        border: none;
    }

    .table th {
        border       : none;
        border-bottom: 1px solid $lightBlack;
        color        : $black;
    }

    .table td {
        border       : none;
        border-bottom: 1px solid $light;
        vertical-align:initial
    }

    .itmap-datatable-pagination {
        .btn {
            padding         : 5px 10px 5px 10px;
            font-size       : 10px;
            background-color: transparent;
            color           : $lightBlack;
            border          : 1px solid $lightBlack;

            &:hover {
                background-color: $lightBlack;
                color           : $white;
            }

            &:active {
                background-color: $lightBlack;
                color           : $white;
            }
        }

        .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
        .btn-group>.btn-group:not(:last-child)>.btn {
            border-radius: 5px;
        }

        .btn-group>.btn:not(:first-child),
        .btn-group>.btn-group:not(:first-child)>.btn {
            border-radius: 5px;
            margin-left  : 10px;
        }
    }
}

.report-table{
    min-width: 93vw;
    // max-width: 80vw;
    overflow-x: hidden;
    // padding-left: 1rem;
    display: flex;
    justify-content: center;
}

.report-table .VendorTableData{
    width: 90vw;
    background-color: transparent;
}

.report-table .row,
.documentListContainer .itmap-datatable table tbody tr
{
    padding-inline: 1rem;
    margin: 0.6rem 0rem;
    background-color: transparent;
}

.report-table .dataRow img{
    max-height: 4rem;
    max-width: 60%;
}
.report-table .dataRow,
.documentListContainer .itmap-datatable table tbody tr
{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0.5px 1px 3px 0 rgba(181, 189, 189, 0.8);
    transition: transform 250ms ease-out;
    min-height: 5rem;
    // max-height: auto;
}

.documentListContainer .itmap-datatable table tbody tr{
    justify-content: space-between;
}

.report-table .headRow{
    color: #685e68;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.report-table .dataRow .col{
    font-weight: bold;
    color: #707070;
}

.report-table .VendorNameCol{
    font-size: 1rem;
}

.report-table .dataRow .MoreCol{
    font-weight: normal;
    color: #685e68;
}
.report-table .dataRow:hover,
.documentListContainer .itmap-datatable table tbody tr:hover
{
    background-color: #fdf8fd;
    // background-color: #f189f1;
    transition: ease all 0.5s;
    transform-origin: center;
    transform: scale(1.03);
    > .MoreCol{
       color: #6500a3;
       font-weight: bold;
    }
}

.report-table table thead tr th, .report-table table tr td{ 
    color:#707070;
    font-weight: normal;
    padding-left: 3rem;
}


.report-table table tr td{
    font-weight: bold;
    cursor: pointer;
}
.report-table table tr td:nth-child(6){
    font-weight: normal;
}

.report-table table{
    // box-shadow: -1px 1px 1px rgb(218, 218, 218);
    background-color: #fff;
    border-radius: 10px;

}

// Mobile view

.reportTableMV-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.7rem;
    margin-bottom: 1rem;
    box-shadow: 0.5px 1px 3px 0 rgba(181, 189, 189, 0.8);
    border-radius: 10px;
}

.reportTableMV-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}


// Pagination


.pagination{
    // padding: 0.3rem 0 0 1rem;
        // padding-top: 1rem;
      text-align: center;
  }
  
  .pagination > ul {
      padding: 0;
      margin: 0;
  }
  
  .pagination li {
      display: inline-block;
  }
  
  .pagination li > a {
      padding: 0.5rem;
      margin: 1px;
      display: inline-block;
      cursor: pointer;
      /* background-color: rgb(228, 95, 95);
      border: 1px solid #d8eef5; */
      border-radius: 2px;
      min-width: 1rem;
      opacity: 0.5
  }
  
  .pagination li > a:focus {
      outline: none;
  }

  .issuesPagination .selected a {
    opacity: 1;
    font-weight: bold;
    color: #575756;
}

.issuesPagination .previous a {
    color: #575756;
    font-weight: bold;
    opacity: 1;
}

.issuesPagination .next a {
    color: #575756;
    font-weight: bold;
    opacity: 1;
}
.issuesPagination .disabled > a {
    color: #ccc;
    background-color: transparent;
    border-color: #eee;
    cursor: default;
}

.issuesPagination .disabled > a:hover {
    background-color: transparent;
    cursor: pointer;
}
.issuesPagination .break {
    margin: 0 8px;
}

.issuesPagination .previous {
    margin-right: 1rem;
}

.issuesPagination .next {
    margin-left: 1rem;
}