.itmap-new-way-section {
    // border:2px dotted purple ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .path-section{
        // border: 1px solid pink;
        display: inline-flex;
        justify-content: center;
        position: relative;
        left: -3rem;

        img{
            position: relative;
            left: -4rem;
            top: -3rem;
            transform: rotate(5deg);
            width: 45vw;
        }

        .text{
            position: relative;
            width: 130px;
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: 0.14px;
            text-align: left;
            color: #5d5d5d;
        }
    }

    .text-section{
        color: #5d5d5d;
        border-left: 0.5rem solid #2b7c9f;
        padding-left: 1rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.24px;
        text-align: left;

        .itmap-text{
            font-size: 24px;
            font-weight: bold;
        }

        .new-way-to-buy{
            font-size: 20px;
            margin-top: -20px;

            span{
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}


@media (max-width: 575px){
    .itmap-new-way-section {
        // border:5px dotted gold ;
    }
}

@media (max-width: 480px){
    .itmap-new-way-section {
        // border:2px dotted green ;
    }
}

@media (max-width: 768px){
    .itmap-new-way-section {
        // border:4px dotted black ;

        .path-section{
            img{
                top:-2.5rem;
                left:-1rem;

            }
        }

        .text-section{
            .itmap-text{
                font-size: 16px;
            }
    
            .new-way-to-buy{
                font-size: 14px;
    
                span{
                    font-size: 16px;
                }
            }
        }
    }
}