.profile {
  padding: 0 5rem;

  .profilePanel,
  .subscriptionPanel,
  .paymentPanel,
  .purchasePanel {
    display: flex;
    border-bottom: solid 0.5px #c9c9c9;
    padding: "5px 1.5rem";
  }

  .paper {
    min-width: 211px;
    min-height: 82px;
    padding: 12px 14px;
    color: #c9c9c9;
    white-space: nowrap;
    margin-bottom: 3px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }
  .paper .form-group {
    margin-bottom: 0;
  }
  .paper label {
    margin-bottom: 0;
  }
  .paper input {
    border: none;
    padding: 0;
  }

  .paper .paperText {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
  }

  .accordionTitle {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 1.11;
  }

  .accordionButton {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.12px;
    line-height: 1.76;
    cursor: pointer;
    // color: #6500a3;
  }
}

.payment-list-page {
  left: 0;
  right: 0%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  overflow: hidden;
}
.payment-list {
  width: -webkit-fill-available;
  // max-width: 100%;
}

.payment-table {
  overflow-x: hidden;
  padding: 0 1rem;
}

.payment-table .paymentTableData {
  background-color: transparent;
}

.payment-table .row {
  padding-inline: 12px;
  margin: 0.6rem 0rem;
  background-color: transparent;
}

.payment-table .dataRow {
  padding: 1rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0.5px 1px 1.5px 0 rgba(0, 0, 0, 0.16);
  transition: transform 250ms ease-out;
}

.payment-table .headRow {
  // color: #685e68;
  color: #7b736b;
}

.payment-table .invoiceIcon {
  height: 17px;
  width: auto;
}

.payment-table .dataRow .col {
  // font-weight: bold;
  color: #272727;
}

.payment-table .dataRow:hover {
  // background-color: #fdf8fd;
  transition: ease all 0.5s;
  transform-origin: center;
  transform: scale(1.03);
  > .MoreCol {
    color: #6500a3;
    font-weight: bold;
  }
}

.result-not-found {
  text-align: center;
  font-size: 18px;
  margin-top: 3rem;
  font-weight: 500;
  color: lightgray;
  user-select: none;
}

// Mobile View

.TableViewMobile {
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0.5px 1px 1.5px 0 rgba(0, 0, 0, 0.16);
  transition: transform 250ms ease-out;
}

.TableViewMobile .cardHead-mobile,
.cardBody-mobile {
  padding: 0 5px;
}

.cardHead-mobile label,
.cardBody-mobile label {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  text-align: left;
  color: #707070;
  margin-bottom: 0;
}

.TableViewMobile .cardBody-mobile img {
  align-self: center;
}
.ant-tabs-content-holder {
  width: 100%;
}
// section .ant-tabs-left > .ant-tabs-content-holder,
// .ant-tabs-left > div > .ant-tabs-content-holder {
//   border-left: 1px solid #333;
// }

section .ant-tabs {
  align-items: baseline;
}
.profile-container section span {
  display: flex;
  align-items: center;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-operations {
  border-right: 1px solid #333;
}

@media (max-width: 575px) {
  .profile {
    padding: 0 !important;
  }

  .payment-table {
    padding: 0;
  }

  .payment-table .headRow {
    color: red;
    font-size: 12px;
    padding: 0;
  }
  .ant-tabs > .ant-tabs-nav,
  .ant-tabs > div > .ant-tabs-nav {
    position: unset !important;
    flex: unset !important;
    display: contents !important;
    margin: 0px 50px !important;
  }
  .profile-container section span {
    display: flex;
    align-items: baseline;
  }
  // ::-webkit-scrollbar {
  //   display: none;
  // }
}
