.ant-select-selection-item {
    text-align: left !important;
}

.select-box-wrapper {
    text-align: left;

    .react-select-container {
        border: none;
    }

    .react-select__control {
        background-color: transparent;
        border-radius   : 0px;
        border-top      : none !important;
        border-left     : none !important;
        border-right    : none !important;
        border-bottom   : 1px $lightBlack solid;
        box-shadow      : none;

        &:hover {
            border-bottom: 1px $lightBlack solid;
        }
    }



    .react-select__indicators {
        color: $lightBlack;

        .react-select__dropdown-indicator {
            color: $lightBlack;
        }

        .react-select__clear-indicator {
            color: $lightBlack;
        }
    }

    .react-select__menu {
        background-color: $lightBlue;
        border-radius   : 0px;
    }

    .react-select__option--is-selected {
        background-color: $white;
        color           : $lightBlack;
    }


}


.documentListContainer {
    .react-select__menu {
        background-color: $white;
        border-radius   : 0px;
        width           : 50% !important;
    }

    .react-select__control {
        width: 50% !important;
    }

    .react-select__option:hover {
        background-color: $lightBlue;
        border-radius   : 0px;

    }
}