.SRPCcalculatorContainer {
  padding: 0px 50px;
  display: flex;
  justify-content: flex-start;
  .heading {
    text-transform: capitalize;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #272727;
  }
  .mainContainer {
    margin-top: 15px;
    width: 70%;
    p {
      width: 60%;
    }
    div:nth-child(2) {
      margin-top: 0px;
    }
  }
  .mainContainer div {
    display: flex;
    align-items: center;
  }
  .inputHeading {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.24px;
    color: #272727;
    margin: 10px 0 10px 0;
    text-transform: capitalize;
  }
  input {
    border: 0.5px solid #000;
    font-weight: 600;
    font-size: 15px;
    height: 40px;
    border-radius: 4px;
    border: 0.5px solid #000;
    width: 150px;
    text-align: left;
    padding-left: 5px;
  }
  select {
    border: 0.5px solid #000;
    font-weight: 600;
    font-size: 15px;
    height: 40px;
    border-radius: 4px;
    border: 0.5px solid #000;
    text-align: left;
    margin: 0px 5px;
    width: 70px;
  }
  .calculateBtn {
    font-weight: 400;
    padding: 10px 30px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border: 0.5px solid #000;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .calculateBtn:hover,
  .calculateBtn:focus {
    background-color: #333;
    color: #fff;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .resultContainer {
    display: flex;
  }
  .resultContainerDivTwo {
    padding-left: 10px;
  }

  .calculateSection {
    margin-top: 10px;
  }
  .output {
    width: 50%;
    margin-top: 49px;
  }
  .outputHeading {
    text-transform: capitalize;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #272727;
  }
  .calculate-result {
    width: 90%;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
  }
  .result {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 5px 10px;
  }
  .result-label {
    width: 70%;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
  }
  .amps-val {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    margin-left: 10px;
  }
  .total-required-supply-rack-val {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    margin-left: 10px;
  }
  .total-required-supplykw-val {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 575px) {
  .SRPCcalculatorContainer {
    .mainContainer {
      p {
        width: 70%;
      }
    }
  }
}

// resposive web design

@media (max-width: 480px) {
  .SRPCcalculatorContainer {
    padding: 0px 20px;
    display: block;
    .inputHeading {
      font-size: 14px !important;
      // margin: 0px 10px 0px -20px !important;
    }
    .mainContainer {
      width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: unset !important;
      flex-direction: column !important;
      padding: 20px !important;

      // p{
      //   width: 0;
      // }
    }
    .mainContainer div {
      display: flex !important;
      margin: 5px 0px !important;
      // align-items: center !important;
      height: 50px;
      justify-content: space-between !important;
    }

    .resultContainer {
      display: flex;
      flex-direction: column !important;
    }

    input {
      font-weight: 600 !important;
      font-size: 15px !important;
      height: 35px !important;
      width: 100px !important;
      padding-left: 5px !important;
      // margin-left: 20px !important;
    }

    .resultContainerDivTwo {
      padding-left: 0px !important;
    }
    .output {
      width: 90%;
      margin-top: 15px;
      margin-left: 18px;
    }
    .calculate-result {
      width: 100%;
      display: inline-block;
      background-color: #fff;
    }
    .result {
      height: unset !important;
      min-height: 45px !important;
      overflow: unset !important;
      width: 100% !important;
      padding: 0px 10px !important;

      .result-label {
        width: 80%;
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
      }
      .amps-val {
        margin-left: 20px;
        display: inline-block;
        font-size: 14px;
        line-height: 26px;
      }
      .total-required-supply-rack-val {
        margin-left: 20px;
        display: inline-block;
        font-size: 14px;
        line-height: 26px;
      }
      .total-required-supplykw-val {
        margin-left: 20px;
        display: inline-block;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
}
