/* common css */
body {
  font-size: 14px;
  // color: $black;// last active
  color: $textColor; // new design
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  letter-spacing: 0.5px;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}

.btn.focus,
.btn:focus,
:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border: none;
}

.btn {
  border: none;
}

ul {
  margin: 0;
}

.container {
  // max-width: 1440px;
  max-width: 94%;
}

html {
  scroll-behavior: smooth;
}

body.open {
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: $light;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 20px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 15px;
}

h5,
h6 {
  margin-bottom: 10px;
}

.h1,
h1 {
  font-size: 36px;
  line-height: normal;
}

.h2,
h2 {
  font-size: 30px;
  line-height: normal;
}

.h3,
h3 {
  font-size: 24px;
  line-height: normal;
}

.h4,
h4 {
  font-size: 18px;
  line-height: normal;
}

.h5,
h5 {
  font-size: 14px;
  line-height: normal;
}

.h6,
h6 {
  font-size: 12px;
  line-height: normal;
}

html {
  scroll-behavior: smooth;
}

#main-wrapper {
  overflow: hidden;
  // height: 100vh;
  // overflow-y: auto;
}

section {
  position: relative;
}

.explore-content {
  padding: 60px 0 70px 0;
}

// new code
.content-wrapper {
  // border: 1px solid red;
  margin: 60px 0 150px 0;
  .content-title-wrapper {
    .main-title {
      font-size: 32px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: #000000;
      // margin-bottom: 25px;
      // text-transform: capitalize;

      span {
        font-weight: 700;
      }
    }

    .main-title-two {
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 20px;
      color: #11142d;
    }
  }
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: $black;
  border-color: $black;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: transparent;
  border-color: transparent;
}

.react-tel-input .form-control:focus,
.react-tel-input .form-control.open,
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: $white;
  border-color: $black;
  background-color: transparent;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #848587;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  width: 16px;
  height: 16px;
  object-fit: contain;
  border-radius: 4px;
  margin: 4px;
  background-color: $black;
}

.react-tel-input {
  font-family: "Poppins", sans-serif;

  .flag-dropdown {
    position: initial;
  }

  #phone-form-control {
    padding-left: 105px;
  }

  .country-list {
    width: 100%;
    box-sizing: content-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 5px;
    margin: 10px 0 0 0;
    font-size: 14px;
    max-height: 200px;
    height: calc(35vh - (20px + 30px));

    .country {
      padding: 10px 15px;
      display: flex;
      align-items: center;

      span {
        line-height: 20px;
      }
    }

    .flag {
      margin-top: -5px;
      position: initial;
    }
  }

  .selected-flag {
    position: absolute;
    top: 0;
    z-index: 10;
    margin: 0 10px 0 30px;
    padding: 0;
    left: 0;
    width: 60px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 30px;
      background-color: #707070;
    }

    .arrow {
      left: 35px;
    }
  }
}

.react-tel-input .flag-dropdown.open,
.react-tel-input .form-control:focus,
.react-tel-input .form-control.open {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: none;
}

.main-content {
  .container {
    // padding-left: 42px;
    // padding-right: 42px;
  }

  &.sticky {
    padding-top: 130px !important;
  }

  .datacenter-wrapper {
    .ant-select-selector {
      background-color: transparent !important;
      border-radius: 0px !important;
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      border-bottom: 1px $lightBlack solid !important;
      box-shadow: none !important;
    }
  }
}

.form-block {
  .form-group {
    margin-bottom: 30px;
    position: relative;
  }

  .form-control {
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    height: 70px;
    font-size: 16px;
    font-weight: normal;
    line-height: 3.75;
    letter-spacing: 0.24px;
    width: 100%;
    color: $black;

    &::placeholder {
      color: $black;
      opacity: 0.8;
    }

    &.password {
      padding-right: 60px;
    }
  }

  .hide-show-image {
    position: absolute;
    right: 30px;
    width: 26px;
    height: 22.7px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.checkbox-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.45px;
  color: $black;

  .custom-control {
    padding-left: 40px;

    span {
      font-size: 12px;
      padding-left: 5px;
      line-height: 25px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .custom-control-input {
    width: 25px;
    height: 25px;
    left: 0;
    cursor: pointer;
  }

  .custom-control-label {
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.45px;
    color: $black;

    &::before,
    &::after {
      width: 24px;
      height: 24px;
      top: 0;
      left: -40px;
      bottom: 0;
    }

    &:before {
      border-color: $black;
      background-color: transparent;
    }
  }

  .forget-password {
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.45px;
    color: $black;
  }
}

.site-btn {
  margin: 45px 0;
  padding-bottom: 40px;

  button {
    margin-right: 15px;
  }

  a {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.45px;
    text-align: center;
    color: $black;
    width: 134px;
    height: 45px;
    line-height: 43px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid $black;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      background-color: $black;
      border: 1px solid $black;
      color: #ffffff;
    }

    & + {
      a {
        margin-left: 40px;
      }
    }
  }

  button {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.45px;
    text-align: center;
    color: $black;
    width: 134px;
    height: 45px;
    line-height: 43px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0;
    background-color: transparent;
    border: 1px solid $black;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      background-color: $black;
      border: 1px solid $black;
      color: $white;
    }

    & + {
      button {
        margin-left: 20px;
      }
    }
  }
}

.site-btn1 {
  a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: $black;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.42px;
    text-align: center;

    & + {
      a {
        margin-left: 20px;
      }
    }

    span {
      padding-left: 20px;
    }
  }
}

.margin {
  margin-bottom: 0 !important;
}

.signup-form,
.login-form {
  width: 425px;
}

.input-link {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.42px;
  color: $black;

  p {
    margin: 0;
  }

  a {
    // color: $black;
    font-weight: 500;
    text-decoration: underline;
    color: rgb(43, 124, 159);
    font-size: 18px;
    letter-spacing: 0.15px;
    // margin: 0px 4px;
  }
}

// main-title
// last active code
// .main-title {
//   font-size: 27px;
//   font-weight: 350;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 54px;
//   letter-spacing: 0.9px;
//   color: $black;
//   margin-bottom: 25px;
//   text-transform: capitalize;

//   span {
//     font-weight: 700;
//   }
// }

// site-title
.site-title-wrapper {
  margin-bottom: 40px;

  .site-title {
    font-size: 37px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 50px;
    color: $black;
    line-height: 40px;
    margin: 0;
  }

  .site-crumbs {
    padding-top: 50px;
  }
}

// site-title
.site-title {
  margin-bottom: 40px;

  a {
    color: #272727 !important;
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: $black;
    line-height: 40px;
    margin: 0;

    span {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0.24px;
      color: $black;
      padding-left: 10px;
    }
  }
}

// site-title
.sub-title {
  font-size: 16px;
  font-weight: 500;
  // line-height: 35px;
  letter-spacing: 0.45px;
  color: $black;
  margin-bottom: 25px;
  display: flex;
  align-items: baseline;

  span {
    font-size: 12px;
    letter-spacing: 0.36px;
    // padding-left: 5px;
    // width: 100px;
  }

  .component {
    // padding-left: 15px;
  }
  .connect-icon img {
    width: 16px;
  }
  .superscript-icon img {
    width: 16px;
  }
  sup {
    top: -1em;
    left: -0.5em;
  }
}

// .footer-block {
//   width: 100%;
//   padding: 20px 0px 10px 0px;

//   .logo-wrapper {
//     text-align: center;
//     // margin-left: 300px;
//     padding-left: 240px;

//     img {
//       width: 106px;
//       height: 49px;
//     }
//   }

//   .social-wrapper {
//     text-align: right;

//     a {
//       // color: $black;
//       color: rgb(43, 124, 159);
//     }
//     a:first-child {
//       margin-right: 20px;
//     }
//   }
// }

// new design
.footer-block {
  width: 100%;
  padding: 20px 0px 10px 0px;
  background-color: $footerBackground;

  .logo-wrapper {
    text-align: center;
    margin-top: 10px;
    img {
      width: 155px;
      height: 45px;
    }
  }

  // links
  .link-wrapper {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    a {
      color: $footerTextColor;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }

  .divider {
    border: 1px solid #fff;
    opacity: 0.2;
    height: 0px;
    margin: 20px 0;
  }

  .social-wrapper {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copy-right {
      color: #d1d5db;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    .social-link {
      a {
        &:not(:first-child) {
          margin-left: 16px;
        }
      }
    }
  }
}

// header
.header-block {
  // padding: 40px 30px;
  // padding: 40px 0; //last active
  padding: 20px 0; // new design

  &.header1 {
    padding-top: 38px;
    padding-bottom: 38px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .logo-content-block {
    display: flex;
    align-items: center;

    .logo-wrapper {
      display: inline-block;
      vertical-align: middle;

      a {
        display: inline-block;
        vertical-align: middle;

        .logo {
          width: 106px;
          height: 49px;
          object-fit: contain;
        }
      }
    }

    .content-block {
      display: inline-block;
      vertical-align: middle;

      h5 {
        color: $black;
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 400;
        margin: 0;
        position: relative;
        padding-left: 16px;
        margin-left: 16px;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: 40px;
          background-color: #707070;
        }
      }
    }
  }
}

// menu-wrapper
.main-menu-wrapper {
  text-align: right;

  .navbar-link-wrapper {
    display: block;
    width: 100%;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px;

      &:last-child {
        margin-right: 0;
      }

      a {
        padding: 9px 10px;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        line-height: 26px;
        letter-spacing: 0.32px;
        text-align: right;
        color: $black;

        &.active {
          border: 1px solid rgba(112, 112, 112, 0.25);
          border-radius: 5px;
        }
        &.with-bg {
          background-color: #000000;
          // position: absolute;
          color: #fff;
          width: 149px;
          height: 56px;
          left: 1161px;
          top: 21px;
          border-radius: 12px;
        }
      }
    }
  }
}

.menu-search-block {
  text-align: right;
}

.menu-wrapper {
  .ant-drawer-content-wrapper {
    width: 400px !important;
    transition: all 0.5s ease-in-out;
  }

  .ant-drawer-body {
    background-color: $black;
    padding: 3rem 3rem 0 3rem;
  }

  .close-icon {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
  }

  .category-box {
    // height    : 400px;
    // overflow-y: scroll;
    text-align: left;
  }

  .category-section {
    text-align: center;
  }

  .navbar {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
  }

  .navbar-link-block {
    li {
      a {
        padding: 0;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        line-height: 34px;
        letter-spacing: 0.24px;
        color: #ffffff;
      }
    }
  }

  .category-banner-wrapper {
    .category-banner-block {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .category-banner {
      height: 71px;
      border-radius: 5px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .category-img {
        padding-right: 10px;
        width: 40px;
      }

      .category-content {
        cursor: pointer;

        h6 {
          margin: 0;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.45px;
          color: #ffffff;
          text-align: right;
        }
      }
    }
  }
}

// header-search
.search-wrapper {
  min-width: 40%;
  margin-right: 40px;
  margin-left: auto;
  display: inline-block;
  vertical-align: middle;

  .header-search {
    .form-group {
      position: relative;
      margin: 0;

      .form-control {
        height: 50px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.48px;
        color: $black;
        padding: 10px 40px 10px 15px;

        &::placeholder {
          color: $black;
        }
      }

      .search-icon {
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        margin: auto;
        z-index: 10;
        display: flex;
        cursor: pointer;
      }
    }
  }
}

// menu-block
.menu-block {
  display: inline-block;
  vertical-align: middle;

  .menu-icon {
    cursor: pointer;
    width: 20px;

    span {
      position: relative;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      margin-left: auto;
      display: block;
      background-color: $black;
      cursor: pointer;

      &:nth-child(2) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

// explore-wrapper
.explore-wrapper {
  .main-title {
    margin-bottom: 20px;
  }

  .explore-form {
    .form-group {
      width: 584px;
      margin: 0;
    }

    .form-control {
      padding-right: 60px;
    }

    .search-icon {
      position: absolute;
      top: 0;
      right: 30px;
      bottom: 0;
      margin: auto;
      z-index: 10;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}

.category-below {
  .container {
    padding: 0 15px;
  }

  .arrow-feature {
    width: 32.5px;
    height: 32.5px;
    border-radius: 2.5px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #fdffef;
    position: absolute;
    left: 96%;
    margin-top: -44px;
    text-align: center;
    cursor: pointer;
  }
}

.category-img {
  .arrow-right {
    transform: rotate(-90deg);
  }
}

.advanced-wrapper .radio-box-wrapper label {
  padding: 10px 40px 10px 40px !important;
}

// input-searchbox
.input-searchbox {
  .select-searchbox {
    position: relative;
    width: 510px;

    &.open {
      .search-list-box {
        background-color: $white !important;
        z-index: 1000 !important;
        opacity: 1;
        visibility: visible;
        padding: 0 10px 0 10px;
      }

      .search-icon {
        .angledown {
          display: block;
        }

        .angleup {
          display: none;
        }
      }
    }

    .form-group {
      position: relative;
      margin: 0;
    }

    .form-control {
      border: none;
      border-radius: 0;
      background-color: transparent;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.45px;
      color: $black;
      height: 40px;
      border-bottom: solid 1px $black;
      padding: 0 30px 0 15px;

      &::placeholder {
        color: $black;
      }
    }

    .search-icon {
      position: absolute;
      width: 30px;
      text-align: right;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

      .angledown {
        display: none;
      }
    }

    .search-list-box {
      width: 100%;
      position: absolute;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      z-index: 10;
      // transform: translateY(30px);
      transition: all 0.3s ease-in-out;

      ul {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        padding: 12px 0;
        overflow-y: auto;

        li {
          font-size: 15px;
          font-weight: normal;
          letter-spacing: 0.45px;
          color: $black;
          line-height: 38px;
          padding: 0 10px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: #d9e6ff;
          }
        }
      }
    }
  }
}

// select-category-block
.select-category-block {
  margin-top: 40px;
  text-align: left;

  &.databases,
  &.public-cloud {
    .category-select-btn {
      .checkbox-password {
        &:last-child {
          width: 100%;
        }
      }
    }
  }

  .category-select-btn {
    .category-checkbox {
      &:last-child {
        .category-btn {
          margin-bottom: 0;
        }
      }

      .form-check-input {
        opacity: 0;
        visibility: hidden;
      }

      .form-check-input[type="checkbox"],
      .form-check-input[type="radio"] {
        &:checked {
          + {
            .category-btn {
              border: solid 1px $black;
              background-color: $black;
              color: #ffffff;
            }
          }
        }
      }

      .category-btn {
        margin-bottom: 15px;
        cursor: pointer;
        height: 35px;
        padding: 5px 20px;
        border-radius: 50px;
        border: solid 1px $black;
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0.45px;
        text-align: center;
        color: $black;
      }
    }
  }
}

// downloads-wrapper
.downloads-wrapper {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #fcfdf5;
  padding: 35px 25px 0px 0px;
  position: fixed;
  right: -400px;
  border-radius: 0 0 0 5px;
  top: 15% !important;
  width: 400px;
  height: 600px;
  z-index: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding: 30px 20px;
  top: 18% !important;

  .downloads-block {
    // overflow-y: scroll !important;
    height: 85%;
    // padding   : 0 5px 0 10px;
  }

  &.open {
    right: 0;

    .downloads-block {
      .downloads-btn {
        .arrow-block {
          .nextarrow {
            display: block;
          }

          .pervarrow {
            display: none;
          }
        }
      }
    }
  }

  .downloads-block {
    .downloads-btn {
      writing-mode: vertical-lr;
      display: flex;
      padding: 10px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
      background-color: #fcfdf5;
      border-radius: 5px 5px 5px 5px;
      cursor: pointer;
      position: absolute;
      left: -47px;
      top: 0;

      h5 {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.54px;
        color: $black;
        margin: 0;
        transform: rotate(180deg);
      }

      .arrow-block {
        padding-bottom: 20px;
        display: flex;
        align-items: center;

        .nextarrow {
          display: none;
        }
      }
    }

    .downloads-table {
      &:last-child {
        table {
          border-bottom: none;
          margin-bottom: 0;

          tr {
            &:last-child {
              th {
                padding-bottom: 0;
              }
            }
          }
        }
      }

      h4 {
        font-size: 17px;
        font-weight: normal;
        line-height: 28px;
        letter-spacing: 0.51px;
        color: $black;
        margin-bottom: 7px;
        text-align: center;
      }

      table {
        width: 100%;
        margin-bottom: 20px;
        border-bottom: solid 1px rgba(112, 112, 112, 0.25);

        tr {
          &:last-child {
            th {
              padding-bottom: 20px;
            }
          }

          th {
            padding: 0 0 8px 0;
            border: none;

            &:first-child {
              opacity: 0.7;
              font-size: 14px;
              font-weight: normal;
              line-height: 23px;
              letter-spacing: 0.42px;
              color: $black;
            }

            &:last-child {
              text-align: right;

              a {
                line-height: 23px;
                font-size: 12px;
                font-weight: normal;
                letter-spacing: 0.36px;
                color: #001fc9;
              }
            }
          }
        }
      }
    }
  }
}

// datascale-progress-wrapper
.datascale-progress-wrapper {
  text-align: center;

  .datascale-progress {
    .row {
      margin: 0;
    }
  }

  .scale-progress.active {
    h5 {
      opacity: 1;
      font-weight: 500;
    }
  }

  .scale-progress {
    h5 {
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.45px;
      color: $black;
      margin: 0;
      opacity: 0.7;
      padding: 7px 15px;
      border-bottom: solid 1px rgba(93, 93, 93, 0.3);
    }
  }
}

.progress-col {
  padding: 0;

  &:nth-child(2) {
    .scale-progress {
      h5 {
        border-left: solid 1px rgba(93, 93, 93, 0.3);
        border-right: solid 1px rgba(93, 93, 93, 0.3);
      }
    }
  }
}

.progress-menu {
  // display: flex;
  // justify-content: space-around;

  span {
    width: 20%;
    opacity: 0.5;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.45px;
    position: relative;
    color: $black;
    border-top: 7px solid rgba(39, 39, 39, 0.25);
  }

  span.completed {
    border-top: 7px solid #009143;
    color: #009143;
    opacity: 1;
  }

  span.active {
    border-top: 7px solid $black;
    color: $black;
    opacity: 1;
  }

  span.selected {
    color: #009143;
    opacity: 1;

    &:after {
      content: "";
      position: absolute;
      border: 1px solid #009143;
      border-radius: 5px;
      width: 24px;
      height: 24px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.datascale-content {
  margin-top: 30px;

  .input-searchbox {
    .datascale-title {
      margin-bottom: 12px;
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.45px;
      color: $black;
      display: flex;
      align-items: center;

      .navigation {
        padding-left: 15px;
      }
    }

    .select-searchbox {
      .form-control {
        font-weight: normal;
      }

      .search-list-box {
        ul {
          max-height: 232px;
          height: auto;
        }
      }
    }
  }
}

.datascale-block {
  width: 90%;

  .select-category-block {
    &.following-os {
      .category-select-btn {
        width: 100%;
      }
    }

    .category-select-btn {
      width: 68%;

      .category-checkbox {
        display: inline-block;
        vertical-align: middle;

        &:last-child {
          margin-right: 0;
        }

        .category-btn {
          margin-bottom: 0;
          height: unset;
        }
      }

      .checkbox-password {
        // width: 50%;
        // display: inline-block;
        vertical-align: middle;
        padding: 0 10px 15px 0;
      }

      .checkbox-password.disable {
        opacity: 0.7;
      }
    }
  }

  .select-category-block.applications {
    .category-select-btn {
      width: 100%;

      .checkbox-password {
        width: 34%;
      }

      .checkbox-password.category-directory {
        margin-top: -44px;
      }

      .category-type {
        width: 66%;
        // height: 86px;

        > .custom-checkbox {
          .custom-control-input {
            &:checked {
              ~ {
                ul {
                  display: block;
                }

                .custom-control-label {
                  &::before {
                    content: "-";
                    font-size: 43px;
                    padding-left: 5px;
                  }
                }
              }
            }

            ~ {
              ul {
                display: none;
                position: relative;
                padding-top: 20px;
                padding-left: 12px;

                // &:before {
                //   content: '';
                //   position: absolute;
                //   left: -28px;
                //   top: 11px;
                //   width: 1px;
                //   height: 22px;
                //   background-color: $black;
                //   width: 22px;
                //   height: 1px;
                //   top: 32px;
                // }

                // &:after {
                //   content: '';
                //   position: absolute;
                //   left: -28px;
                //   top: 11px;
                //   width: 1px;
                //   height: 22px;
                //   background-color: $black;
                // }

                li {
                  display: inline-block;
                  vertical-align: middle;

                  + {
                    li {
                      padding-left: 40px;
                    }
                  }
                }
              }
            }
          }
        }

        > .custom-control {
          > .custom-control-label {
            &::before {
              background: $black;
              color: $white;
              z-index: 1;
              content: "+";
              text-align: center;
              font-size: 30px;
              font-weight: 100;
              line-height: 24px;
              padding-left: 1px;
            }
          }
        }
      }
    }
  }
}

// .following-os
.following-os {
  .following-box {
    & + {
      .following-box {
        margin-top: 15px;
      }
    }

    .input-searchbox {
      .select-searchbox {
        width: 185px;

        .form-control {
          height: 36px;
        }

        .search-list-box {
          ul {
            max-height: 200px;
            height: auto;
          }
        }
      }
    }
  }
}

// summary-wrapper
.summary-wrapper {
  .summary-dec-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    p {
      font-size: 14px;
      font-weight: normal;
      line-height: 23px;
      letter-spacing: 0.21px;
      color: $black;
      margin: 0;

      span {
        font-weight: bold;
      }
    }
  }

  .summary-title {
    font-size: 30px;
    font-weight: normal;
    line-height: 49px;
    letter-spacing: 0.45px;
    color: $black;
    margin-bottom: 15px;

    .summary-btn {
      width: 100%;
    }
  }

  .summary-content-block {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 11px;
      top: 15px;
      bottom: 15px;
      border-left: 3px solid $black;
    }

    .category-checkbox {
      padding-left: 45px;
      padding-bottom: 7px;
      position: relative;

      &:last-child {
        padding-bottom: 0;
      }

      .form-check-input {
        width: 25px;
        height: 25px;
        left: 0;
        top: 8px;
        margin: 0;
        opacity: 0;
        visibility: hidden;

        &:checked {
          ~ {
            ul {
              display: block;
            }

            .custom-control-label {
              &::after {
                content: "-";
                font-size: 41px;
                padding-left: 6px;
              }
            }
          }
        }

        ~ {
          ul {
            display: none;
            padding: 10px 20px 0 20px;

            li {
              padding-bottom: 15px;

              &:last-child {
                padding-bottom: 0;
              }

              > {
                span {
                  width: 18px;
                  height: 18px;
                  border-radius: 18px;
                  display: block;
                  border: solid 1px $black;
                  background-color: #ffffff;
                  position: absolute;
                  left: 3.5px;
                }
              }

              h6 {
                font-size: 14px;
                font-weight: normal;
                line-height: 23px;
                letter-spacing: normal;
                color: $black;
                margin: 0;

                span {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

      .custom-control-label {
        cursor: pointer;
        font-size: 25px;
        font-weight: normal;
        line-height: 40px;
        letter-spacing: 0.75px;
        color: $black;
        display: inline-block;
        vertical-align: middle;

        &::before,
        &::after {
          width: 25px;
          height: 25px;
          left: -45px;
          top: 0;
          bottom: 0;
          margin: auto;
        }

        &::before {
          border: solid 1px $black;
          background-color: #ffffff;
          border-radius: 100px;
        }

        &::after {
          color: $black;
          z-index: 1;
          content: "+";
          text-align: center;
          font-size: 30px;
          font-weight: 200;
          line-height: 27px;
          padding-left: 2px;
        }
      }

      .pen-icon {
        display: inline-block;
        // vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-left: 20px;
      }
    }
  }
}

// final-report-wrapper
.final-report-wrapper {
  .final-report-block {
    .table {
      margin-bottom: 30px;

      th,
      td {
        border-top: none;
        border-bottom: 1px solid rgba(39, 39, 39, 0.5);
      }

      th {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.48px;
        color: $black;
        padding: 7px 15px;
      }

      td {
        font-size: 15px;
        font-weight: normal;
        line-height: 25px;
        letter-spacing: 0.45px;
        color: $black;
        padding: 14px 15px;

        .product-url-link {
          font-size: 15px;
          line-height: 25px;
          letter-spacing: 0.45px;
          color: #0060d0;
          text-decoration: underline;
        }
      }
    }
  }

  .project-pagination {
    li {
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;

      &.active {
        span {
          background-color: $black;
          color: #ffffff;
        }
      }

      span {
        width: 24px;
        height: 24px;
        border-radius: 5px;
        display: block;
        text-align: center;
        cursor: pointer;
        border: solid 1px $black;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.42px;
        color: $black;
      }
    }
  }

  .disclaimer-dec {
    padding-top: 50px;

    p {
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.42px;
      color: $black;
      line-height: 24px;

      span {
        font-weight: bold;
      }
    }
  }
}

// connect-vendor-wrapper
.submitform-wrapper,
.connect-inclusion-wrapper,
.connect-consulting-wrapper,
.connect-vendor-wrapper {
  .site-btn {
    margin-top: 80px;
  }
}
// .connect-question {
//   display: flex;
//   align-items: baseline;
// }
.connect-icon {
  width: 150px;
  // display: flex;
  justify-content: flex-end;
  position: relative;
  top: -5px;
  left: 5px;
}

.disable-btn {
  background-color: #272727 !important;
  border: 1px solid #272727 !important;
  opacity: 0.5 !important;
  color: #ffffff !important;
}

// consulting-dec-btn
.checked {
  border: solid 1px #272727 !important;
  background-color: #272727 !important;
  color: #ffffff !important;
}

.consulting-dec-btn {
  // display: flex;
  align-items: center;

  .select-category-block {
    margin-top: 0;
  }

  .next-icon {
    padding: 0 30px;

    img {
      cursor: pointer;
    }
  }
}

.thank-message-block {
  margin-bottom: 25px;
}

.success-icon {
  color: #009143;
  margin-bottom: 25px;
}

.consulting-form {
  width: 425px;

  label {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0.24px;
    color: $black;
    margin-bottom: 15px;
  }

  .detail-label {
    color: #989898 !important;
  }

  .textarea {
    height: auto !important;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 20px;

    &::placeholder {
      color: $black;
    }
  }
}

option {
  font-size: 14px;
  color: $black;
  padding: 5px;
}

// submitform-wrapper
.submitform-wrapper {
  .select-category-block {
    .thank-you-dec {
      p {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.21px;
        color: $black;
      }
    }

    .submitform-data {
      margin-top: 40px;

      .form-data {
        & + {
          .form-data {
            margin-top: 40px;
          }
        }
      }

      .form-title {
        opacity: 0.69;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.24px;
        color: $black;
        padding-bottom: 10px;
        margin: 0;
      }

      .form-content {
        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0.24px;
          color: $black;
          margin: 0;

          & + {
            p {
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
}

.site-back-summary {
  text-align: right;

  a {
    letter-spacing: 0.54px;
    color: $black;
    opacity: 1;
    font-size: 20px;
  }
}

.tooltip-inner {
  background-color: #fcfdf5;
  color: #000000;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #fcfdf5;
}

.tooltip-located {
  .tooltip-inner {
    max-width: none;
    padding: 0.5rem 0.5rem;
  }
}

.btn-second {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.45px;
  text-align: center;
  color: $black;
  width: 134px;
  height: 45px;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid $black;
  display: inline-block;
  vertical-align: middle;
  background: none;

  &:hover {
    background-color: $black;
    border: 1px solid $black;
    color: #ffffff;
  }
}

// register-link-btn
.register-link-btn {
  padding: 38px 0;
  color: $white;

  p {
    font-weight: 400;
    margin: 0;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
  }

  .signup-btn,
  .login-btn {
    border: 1px solid $white !important;
    border-radius: 5px;
    padding: 8px 15px;
    display: inline-block;
    vertical-align: middle;
    color: $white;
    font-size: 12px;
    background-color: transparent !important;
  }
}

// bottom-links
.bottom-links {
  text-align: center;
  margin-top: 3rem;

  p {
    margin: 0;
    font-size: 12px;
    // color: $white;
    opacity: 0.5;
    font-weight: 300;
  }
}

// bottom-line
.bottom-line {
  width: 80px;
  height: 3px;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 50px;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 20;
}

// .footer-link
.footer-link {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $white;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;

    &.active {
      background-color: $white;
      color: $blue;
      font-weight: 700;
    }
  }
}

// arrow-down
.arrow-down-up {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 40px;
}

.pen-icon {
  cursor: pointer;
}

.span-border {
  border: 1px solid #009243;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}

.react-tel-input input {
  padding: 10px 100px !important;
}

.help-block {
  margin: -15px 0px 5px 0px;
  color: $danger;
}

.documentListContainer {
  .document-detail {
    color: $light;
  }

  .documentMobileHeader {
    .col {
      padding-right: 0px;
      padding-left: 0px;

      img {
        width: 50%;
        margin-left: 0px;
      }

      .title {
        margin-top: 10px;
        margin-left: -25px;
      }
    }
  }

  .selectType {
    margin-top: 20px;
    margin-bottom: 20px;
    // padding-bottom: 10px;
    // border-bottom: 1px solid #ccc;
    width: 100%;
    color: $black;
  }

  .card {
    // background-color: #f0f0f0;
    // color           : #191970;
    // margin-bottom   : 10px;

    .infoIcon {
      float: right;
      margin-top: 5px;
    }

    .links {
      // a {
      //   padding: 0px 5px;
      //   color  : $navyBlue !important;
      // }

      .text-default {
        padding: 0px 5px;
        color: $navyBlue !important;
      }

      .text-success {
        color: $success !important;
        // border-left: 1px solid $light;
      }
    }
  }

  .table {
    border-collapse: separate;
    border-spacing: 0 6px;
    border-style: hidden;
    table-layout: auto;

    // .links {
    //   a {
    //     border-left: 2px solid $light;
    //     padding    : 0px 25px;
    //   }
    // }

    thead {
      th {
        border-bottom: none;
      }
    }

    .table-bordered {
      th {
        border: none;
      }
    }

    tbody {
      tr {
        border: none;
        // box-shadow: 0 1.5px 1.5px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 0.5px 0 1.5px rgba(0, 0, 0, 0.16);
        background: "none";
        color: #7b736b;
      }

      td {
        border: none;
        color: #7b736b;
      }
    }
  }
}

.downloads-table-block {
  // overflow-y: scroll;
  height: 600px !important;

  .documentListContainer {
    .document-detail {
      color: #f0f0f0;
    }

    .card {
      .card-header {
        background-color: #f0f0f0;
      }

      background: none;
      color: #191970;
      // margin-bottom   : 10px;
      border: none;
      box-shadow: 1.5px 1.5px 1.5px 0 rgba(0, 0, 0, 0.16);
      border-radius: 0;
      padding: 0 15px;

      .infoIcon {
        float: right;
        margin-top: 5px;
      }

      .links {
        .text-default {
          padding: 0px 5px;
          color: $navyBlue !important;
        }

        .text-success {
          padding: 0px 5px;
          color: $success !important;
        }
      }
    }

    .table {
      border-collapse: separate;
      border-spacing: 0 6px;
      border-style: hidden;
      table-layout: auto;

      // .links {
      //   a {
      //     border-left: none;
      //     padding    : 0px 5px;
      //     color      : $navyBlue !important;
      //   }
      // }

      .icon {
        color: #ff9b3b;
        width: 50%;
        margin-top: 0px;
      }

      thead {
        th {
          border-bottom: none;
        }
      }

      .table-bordered {
        th {
          border: none;
        }
      }

      tbody {
        tr {
          border: none;
          box-shadow: 1.5px 1.5px 1.5px 0 rgba(0, 0, 0, 0.16);
          background: "none";
          color: #7b736b;
        }

        td {
          border: none;
          color: #7b736b;
        }
      }
    }
  }
}

.button-dark-wrapper {
  // margin-right: 120px;
  margin-top: -10px;
}

.product-desciption p {
  margin-left: 205px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.react-bootstrap-table th .order > .dropup > .caret {
  margin: 10px 0;
  color: #cccccc;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
}

.linkedin {
  cursor: pointer;

  img {
    width: 60%;
  }
}
.timer-modal {
  .ant-modal-body {
    display: flex;
    justify-content: center;
  }
  .submit-btn:hover {
    background-color: #2976a8;
    color: #f0f0f0;
  }
}

@media (max-width: 575px) {
  .linkedin {
    img {
      margin-top: 15px !important;
      width: 100%;
    }
  }
}

// .search-block,
// .explore-title {
//   margin: auto;
// }
.search-box-wrapper .ant-select-selector {
  border: none !important;

  .ant-select-selection-placeholder {
    text-align: left;
  }
}

.list-group .list-group-item {
  min-height: 3.5rem;
}

// .ant-spin-container {
//   overflow: hidden;
// }

/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(199, 233, 148, 1) 100%
    );
  }
   */
h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  margin: 1rem auto;
}

.accordion-item {
  display: grid;
  margin: 1rem 0;
  padding: 1.3rem;
  background-color: #fff;
}

.accordion-title {
  /* padding: 0.9rem 0; */
  background-color: #fff;
}
.accordion-content {
  padding-top: 1rem;
  font-weight: 200;
  font-size: 1rem;
}

.expandBtn {
  cursor: pointer;
}

.site-title h2 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
}

.imgur {
  display: block;
  margin: 0px auto 0px auto;
  width: 100%;
}

.connect-vendor-wrapper .container {
  div {
    ol {
      margin-left: 30px;
      li {
        list-style: auto;
      }
    }
  }
}

.ant-spin-container {
  min-height: 100vh;
  // padding-bottom: 110px; // last active
  padding-bottom: 200px; // new code
}

/* .rowC
  {
    width: 50%;
    height: 30%
  } */

/* a:hover {
    background-color: #E8E8E8;
    padding: 0 0 0 0;
  }
  .imgs:hover {
    background-color: #fff;
    padding: 5px;
  } */

/* .blogs-category-filters:hover {
    transition-duration: 0.3s;
    transform: scale(1);
    font-size: 1.1rem; 
}    */
