$lightBlack: #333;
$black: #272727;
$white: #ffffff;
$light: #ccc;
$blue: #191970;
$navyBlue: #1890ff;
$lightBlue: #d9e6fc;
$danger: #da4c30;
$success: #30da71;
$dark: #292929;
$lightTow: #efefef;

$backgroundColor: #1890ff;
$textColor: #fff;
$footerBackground: #000000;
$footerTextColor: #ffffff;
