@media (max-width: 480px) {
  .visitor-credit-history-container {
    .PaymentTableData{
        overflow-x: scroll;
    }
    .row {
      flex-wrap: unset;
    }
    .payment-table .headRow {
      color: #000;
    }
  }
}
